.l-narrow {
  margin-right: auto;
  margin-left: auto;
  max-width: 620px;
}

.l-main {
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
  width: 90%;
  max-width: 920px;
}

.l-image {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 800px;
}
