// COLORS

$pink: #f46760;
$blue: #5b6589;
  $blue--light: #bdc7df;
  $blue--dark: #1b223e;
$black: #1f1b16;
$white: #fff;
$gray: #d8d8d8;
  $gray--light: #f8f7f7;
  $gray--dark: #979797;
  $gray--dark-05: rgba(53,53,53,.05);
$black-50: rgba(0,0,0,.5);



// FONTS

@font-face {font-family: 'AvenirLTStd-Book';src: url('/2016/fonts/2F5256_0_0.eot');src: url('/2016/fonts/2F5256_0_0.eot?#iefix') format('embedded-opentype'),url('/2016/fonts/2F5256_0_0.woff2') format('woff2'),url('/2016/fonts/2F5256_0_0.woff') format('woff'),url('/2016/fonts/2F5256_0_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTStd-BookOblique';src: url('/2016/fonts/2F5256_2_0.eot');src: url('/2016/fonts/2F5256_2_0.eot?#iefix') format('embedded-opentype'),url('/2016/fonts/2F5256_2_0.woff2') format('woff2'),url('/2016/fonts/2F5256_2_0.woff') format('woff'),url('/2016/fonts/2F5256_2_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTStd-Black';src: url('/2016/fonts/2F5256_5_0.eot');src: url('/2016/fonts/2F5256_5_0.eot?#iefix') format('embedded-opentype'),url('/2016/fonts/2F5256_5_0.woff2') format('woff2'),url('/2016/fonts/2F5256_5_0.woff') format('woff'),url('/2016/fonts/2F5256_5_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTStd-Heavy';src: url('/2016/fonts/2F5256_B_0.eot');src: url('/2016/fonts/2F5256_B_0.eot?#iefix') format('embedded-opentype'),url('/2016/fonts/2F5256_B_0.woff2') format('woff2'),url('/2016/fonts/2F5256_B_0.woff') format('woff'),url('/2016/fonts/2F5256_B_0.ttf') format('truetype');}

$regular: 'AvenirLTStd-Book', sans-serif;
$italic: 'AvenirLTStd-BookOblique', sans-serif;
$medium: 'AvenirLTStd-Heavy', sans-serif;
$heavy: 'AvenirLTStd-Black', sans-serif;



// EXTENDS

%border-box {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



// MIXINS

@mixin transition-duration($transition-duration) {
  -webkit-transition-duration: $transition-duration;
  transition-duration: $transition-duration;
}

@mixin transition-property($transition-property...) {
  -webkit-transition-property: $transition-property;
  transition-property: $transition-property;
}


@mixin translate($translate...) {
  -webkit-transform: translate($translate);
  -ms-transform: translate($translate);
  transform-property: translate($translate);
}

@mixin box-sizing($box-sizing) {
  -webkit-box-sizing: ($box-sizing);
  -moz-box-sizing: ($box-sizing);
  box-sizing: ($box-sizing);
}

@mixin columns($columns, $column-gap) {
  -webkit-columns: $columns;
  -moz-columns: $columns;
  columns: $columns;
  -webkit-column-gap: $column-gap;
  -moz-column-gap: $column-gap;
  column-gap: $column-gap;
}
