.t-heading {
  display: inline-block;
  font-family: $heavy;
  background-color: $gray--light;
  color: $blue;
  @media (max-width: 799px) {
    margin-top: -22px;
    margin-bottom: 30px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 36px;
  }
  @media (min-width: 800px) {
    margin-top: -36px;
    margin-bottom: 36px;
    padding-right: 64px;
    padding-left: 64px;
    font-size: 48px;
  }
}

.t-subheading {
  font-size: 19px;
  font-family: $heavy;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.t-link {
  color: $pink;
  text-decoration: none;
  transition-duration: .25s;
  transition-property: opacity;
  &:focus,
  &:hover {
    opacity: .5;
  }
}

.t-text {
  font-size: 19px;
  line-height: 1.7;
  & + .t-text {
    margin-top: 16px;
  }
}

.t-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.t-blue {
  color: $blue;
}

.t-medium {
  font-family: $medium;
}
