<main class="l-main" role="main">
  <section class="section l-section">
    <h1 class="t-heading">FAQ</h1>

    <div class="policy">
      <h2 class="policy__heading">Is the conference really on an island?</h2>
      <p class="t-text">Yes!</p>
    </div>

    <div class="policy">
      <h2 class="policy__heading">How will I get to the island? What if I have to leave early?</h2>
      <p class="t-text">We will be ferrying attendees back to the mainland at designated times. If you cannot make the ferry or need to leave early there are water taxis available that can be used at any time. You can even take a water taxi directly to Logan Airport if you wish.</p>
    </div>

    <div class="policy">
      <h2 class="policy__heading">Tell me more about the overnight accommodation!</h2>
      <p class="t-text">Thompson Island has dorms available. They will be available to rent the night of Monday June 15th and the night of Tuesday June 16th. Those that join us the night before the conference can take part in some fun hacking and hanging out on Thompson Island with the DockYard crew. We plan on pricing the dorms to be “all inclusive” meaning if you sign up to stay then your dinner on June 15th, breakfast on June 16th and June 17th will be covered.</p>
      <p class="t-text">The dorms themselves are best described as “college living”. Two to a dorm room. Blankets, pillows, etc... are all provided (all clean of course). We will try our best to match people up that request so.</p>
    </div>

    <div class="policy">
      <h2 class="policy__heading">The dorms sound cool but it isn’t for me. Are there other options?</h2>
      <p class="t-text">We are not working with any hotels in Boston but there are plenty to choose from.</p>
    </div>
  </section>
</main>
