<header class="header">
  <div class="header__image"></div>
  <div class="header__copy">
    <h1 class="header__heading">Wicked Good Ember</h1>
    <p class="header__desc">Join 200 other <span class="people-who-do-ember"></span> this summer on Thompson Island in Boston Harbor for a conference you’ll never forget!</p>
    <ul class="header__infos">
      <li class="header__info">Two-day Single track</li>
      <li class="header__info">June 27–28, 2016</li>
      <li class="header__info">Thompson Island, Boston</li>
    </ul>
  </div>
</header>

<main class="l-main" role="main">
  <section class="section">
    <div class="section__anchor" id="speakers"></div>
    <h2 class="t-heading">Speakers</h2>
    <div class="index__speakers">
      <figure class="index__speaker">
        <a class="speaker__image" href="/speakers#tom-dale">
          <img class="speaker__image" src="2016/speakers/tom-dale.jpg" alt="Tom Dale">
        </a>
        <figcaption class="speaker__info">
          <a class="t-subheading t-link" href="/speakers#tom-dale">Tom Dale</a>
          <span class="speaker__intro">
            <span class="speaker__position">
              Co-creator of
              <a class="t-link t-blue" href="http://emberjs.com/" target="_blank">Ember.js</a>
            </span>
            <span class="speaker__keynote t-text">Keynote</span>
          </span>
        </figcaption>
      </figure>

      <figure class="index__speaker">
        <a class="speaker__image" href="/speakers#chris-mccord">
          <img class="speaker__image" src="2016/speakers/chris-mccord.jpg" alt="Chris McCord">
        </a>
        <figcaption class="speaker__info">
          <a class="t-subheading t-link" href="/speakers#chris-mccord">Chris McCord</a>
          <span class="speaker__intro">
            <span class="speaker__position">
              <a class="t-link t-blue" href="https://dockyard.com/" target="_blank">DockYard</a>
            </span>
            <span class="speaker__keynote t-text">Co-Keynote</span>
          </span>
        </figcaption>
      </figure>

      <figure class="index__speaker">
        <a class="speaker__image" href="/speakers#dan-mcclain">
          <img class="speaker__image" src="2016/speakers/dan-mcclain.jpg" alt="Dan McClain">
        </a>
        <figcaption class="speaker__info">
          <a class="t-subheading t-link" href="/speakers#dan-mcclain">Dan McClain</a>
          <span class="speaker__intro">
            <span class="speaker__position">
              <a class="t-link t-blue" href="https://www.twitch.tv/" target="_blank">Twitch</a>
            </span>
            <span class="speaker__keynote t-text">Co-Keynote</span>
          </span>
        </figcaption>
      </figure>

      <figure class="index__speaker">
        <a class="speaker__image" href="/speakers#liz-baillie">
          <img src="2016/speakers/liz-baillie.jpg" alt="Liz Baillie">
        </a>
        <figcaption class="speaker__info">
          <a class="t-subheading t-link" href="/speakers#liz-baillie">Liz Baillie</a>
          <span class="speaker__intro">
            <span class="speaker__position">
              <a class="t-link t-blue" href="http://www.tilde.io" target="_blank">Tilde</a>
            </span>
            <span class="speaker__keynote t-text">Journey to the Center of Ember Test Helpers</span>
          </span>
        </figcaption>
      </figure>

      <figure class="index__speaker">
        <a class="speaker__image" href="/speakers#erik-bryn">
          <img class="speaker__image" src="2016/speakers/erik-bryn.jpg" alt="Erik Bryn">
        </a>
        <figcaption class="speaker__info">
          <a class="t-subheading t-link" href="/speakers#erik-bryn">Erik Bryn</a>
          <span class="speaker__intro">
            <span class="speaker__position">
              <a class="t-link t-blue" href="https://www.prototypal.io/" target="_blank">Prototypal</a>
            </span>
            <span class="speaker__keynote t-text">Taming CSS in Ember.js Apps</span>
          </span>
        </figcaption>
      </figure>

      <figure class="index__speaker">
        <a class="speaker__image" href="/speakers#iheanyi-ekechukwu">
          <img src="2016/speakers/iheanyi-ekechukwu.jpg" alt="Iheanyi Ekechukwu">
        </a>
        <figcaption class="speaker__info">
          <a class="t-subheading t-link" href="/speakers#iheanyi-ekechukwu">Iheanyi Ekechukwu</a>
          <span class="speaker__intro">
            <span class="speaker__position">
              <a class="t-link t-blue" href="https://www.digitalocean.com/" target="_blank">DigitalOcean</a>
            </span>
            <span class="speaker__keynote t-text">Ember.js and DevOps: Lessons Learned About Deployment</span>
          </span>
        </figcaption>
      </figure>

      <figure class="index__speaker">
        <a class="speaker__image" href="/speakers#katie-gengler">
          <img src="2016/speakers/katie-gengler.jpg" alt="Katie Gengler">
        </a>
        <figcaption class="speaker__info">
          <a class="t-subheading t-link" href="/speakers#katie-gengler">Katie Gengler</a>
          <span class="speaker__intro">
            <span class="speaker__position">
              <a class="t-link t-blue" href="http://codeallday.com/" target="_blank">Code All Day</a>
            </span>
            <span class="speaker__keynote t-text">The Devil is in the Details: Building an Ember Addon the Right Way</span>
          </span>
        </figcaption>
      </figure>

      <figure class="index__speaker">
        <a class="speaker__image" href="/speakers#gaurav-munjal">
          <img src="2016/speakers/gaurav-munjal.jpg" alt="Gaurav Munjal">
        </a>
        <figcaption class="speaker__info">
          <a class="t-subheading t-link" href="/speakers#gaurav-munjal">Gaurav Munjal</a>
          <span class="speaker__intro">
            <span class="speaker__position">
              <a class="t-link t-blue" href="http://www.hedgeserv.com/" target="_blank">Hedgeserv</a>
            </span>
            <span class="speaker__keynote t-text">Test Driven Development in Ember Twiddle</span>
          </span>
        </figcaption>
      </figure>

      <figure class="index__speaker">
        <a class="speaker__image" href="/speakers#mike-north">
          <img src="2016/speakers/mike-north.jpg" alt="Mike North">
        </a>
        <figcaption class="speaker__info">
          <a class="t-subheading t-link" href="/speakers#mike-north">Mike North</a>
          <span class="speaker__intro">
            <span class="speaker__position">
              <a class="t-link t-blue" href="http://www.levantofinancial.com/" target="_blank">Levanto</a>
            </span>
            <span class="speaker__keynote t-text">Delightful UX for Distributed Systems</span>
          </span>
        </figcaption>
      </figure>

      <figure class="index__speaker">
        <a class="speaker__image" href="/speakers#philip-poots">
          <img src="2016/speakers/philip-poots.jpg" alt="Philip Poots">
        </a>
        <figcaption class="speaker__info">
          <a class="t-subheading t-link" href="/speakers#philip-poots">Philip Poots</a>
          <span class="speaker__intro">
            <span class="speaker__position">
              <a class="t-link t-blue" href="http://www.elmbark.com/" target="_blank">Elm Bark</a>
            </span>
            <span class="speaker__keynote t-text">Elmber</span>
          </span>
        </figcaption>
      </figure>

      <figure class="index__speaker">
        <a class="speaker__image" href="/speakers#kelly-senna">
          <img src="2016/speakers/kelly-senna.jpg" alt="Kelly Senna">
        </a>
        <figcaption class="speaker__info">
          <a class="t-subheading t-link" href="/speakers#kelly-senna">Kelly Senna</a>
          <span class="speaker__intro">
            <span class="speaker__position">
              <a class="t-link t-blue" href="https://www.bignerdranch.com/" target="_blank">Big Nerd Ranch </a>
            </span>
            <span class="speaker__keynote t-text">Memory Management &amp; the Search for Performance</span>
          </span>
        </figcaption>
      </figure>

      <figure class="index__speaker">
        <a class="speaker__image" href="/speakers#chris-thoburn">
          <img class="speaker__image" src="2016/speakers/chris-thoburn.jpg" alt="Chris Thoburn">
        </a>
        <figcaption class="speaker__info">
          <a class="t-subheading t-link" href="/speakers#chris-thoburn">Chris Thoburn</a>
          <span class="speaker__intro">
            <span class="speaker__position">
              <a class="t-link t-blue" href="https://isleofcode.com/" target="_blank">IsleofCode</a>
            </span>
            <span class="speaker__keynote t-text">Beyond 60fps</span>
          </span>
        </figcaption>
      </figure>

      <figure class="index__speaker">
        <a class="speaker__image" href="/speakers#trent-willis">
          <img src="2016/speakers/trent-willis.jpg" alt="Trent Willis">
        </a>
        <figcaption class="speaker__info">
          <a class="t-subheading t-link" href="/speakers#trent-willis">Trent Willis</a>
          <span class="speaker__intro">
            <span class="speaker__position">
              <a class="t-link t-blue" href="http://www.linkedin.com/" target="_blank">LinkedIn</a>
            </span>
            <span class="speaker__keynote t-text">Maintaining Your Tests At Scale</span>
          </span>
        </figcaption>
      </figure>
    </div>
  </section>

  <section class="section">
    <div class="section__anchor" id="schedule"></div>
    <h2 class="t-heading">Schedule</h2>
    <div class="l-schedule">
      <div class="schedule__header">
        <span class="schedule__day">Sun 6/26</span>
        <span class="schedule__date">Pre-Conference<span>
      </div>
      <ul class="events">
        <li class="event">
          <time class="event__time" datetime="2016-06-26T07:00">7:00 am</time>
          <h3 class="event__name">Boat departure</h3>
          <p class="event__desc">Get to the island from ____________</p>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-26T09:00">9:00 am</time>
          <a class="event__name" href="/workshops/advanced-ember">
            <h3>Advanced Ember.js Workshop</h3>
          </a>
          <p class="event__desc">Mike North and Stefan Penner</p>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-26T12:10">12:00 pm</time>
          <h3 class="event__name">Workshop Lunch</h3>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-26T12:30">12:30 pm</time>
          <h3 class="event__name">Boat departure</h3>
          <p class="event__desc">Boats leaving from and going to the island</p>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-26T17:00">5:00 pm</time>
          <h3 class="event__name">Boat departure</h3>
          <p class="event__desc">Boats leaving from and going to the island</p>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-26T18:00">6:00 pm</time>
          <h3 class="event__name">Dinner in cafeteria</h3>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-26T20:00">8:00 pm</time>
          <h3 class="event__name">Late boat departure</h3>
        </li>
      </ul>
      <div class="schedule__header">
        <span class="schedule__day">Mon 6/27</span>
        <span class="schedule__date">Conference Day 1<span>
      </div>
      <ul class="events">
        <li class="event">
          <time class="event__time" datetime="2016-06-27T07:30">7:00 am</time>
          <h3 class="event__name">Island breakfast</h3>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-27T07:30">7:30 am</time>
          <h3 class="event__name">Boat departure</h3>
          <p class="event__desc">Get to the island from _______</p>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-27T08:00">8:00 am</time>
          <h3 class="event__name">Check-in</h3>
          <p class="event__desc">Sign in and get yourself prepared for the day’s events.</p>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-27T09:00">9:00 am</time>
          <h3 class="event__name">Opening</h3>
          <p class="event__desc">A brief introduction to the day’s events.</p>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-27T09:20">9:20 am</time>
          <a class="event__name" href="/speakers#trent-willis">
            <h3>Maintaining Your Tests At Scale</h3>
          </a>
          <p class="event__desc">Trent Willis</p>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-27T10:00">10:00 am</time>
          <a class="event__name" href="speakers#gaurav-munjal">
            <h3>Test Driven Development in Ember Twiddle</h3>
          </a>
          <p class="event__desc">Gaurav Munjal</p>
          </a>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-27T10:40">10:40 am</time>
          <a class="event__name" href="speakers#liz-baillie">
            <h3>Journey to the Center of Ember Test Helpers</h3>
          </a>
          <p class="event__desc">Liz Baillie</p>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-27T11:30">11:30 pm</time>
          <h3 class="event__name">Lunch</h3>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-27T12:30">12:30 pm</time>
          <h3 class="event__name">Boat departure</h3>
          <p class="event__desc">Boats leaving from and going to the island</p>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-27T13:30">1:30 pm</time>
          <a class="event__name" href="speakers#chris-thoburn">
            <h3>Beyond 60fps</h3>
          </a>
          <p class="event__desc">Chris Thoburn</p>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-27T14:10">2:10 pm</time>
          <a class="event__name" href="speakers#katie-gengler">
            <h3>The Devil is in the Details: Building an Ember Addon the Right Way</h3>
          </a>
          <p class="event__desc">Katie Gengler</p>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-27T14:50">2:50 pm</time>
          <h3 class="event__name">Afternoon Snack</h3>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-27T15:20">3:20 pm</time>
          <a class="event__name" href="speakers#kelly-senna">
            <h3>Memory Management &amp; the Search for Performance</h3>
          </a>
          <p class="event__desc">Kelly Senna</p>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-27T16:10">4:10 pm</time>
          <h3 class="event__name">Keynote</h3>
          <p class="event__desc">Chris McCord &amp; Dan McClain</p>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-27T17:30">5:30 pm</time>
          <h3 class="event__name">Boat departure</h3>
          <p class="event__desc">Boats leaving from the island</p>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-27T18:00">6:00 pm</time>
          <h3 class="event__name">Dinner / Cookout</h3>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-27T20:00">8:00 pm</time>
          <h3 class="event__name">Party / Beach / Karoake</h3>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-27T22:00">10:00 pm</time>
          <h3 class="event__name">Boat departure</h3>
          <p class="event__desc">Boats leaving from the island</p>
        </li>
      </ul>
      <div class="schedule__header">
        <span class="schedule__day">Tue 6/28</span>
        <span class="schedule__date">Conference Day 2<span>
      </div>
      <ul class="events">
        <li class="event">
          <time class="event__time" datetime="2016-06-28T07:30">7:00 am</time>
          <h3 class="event__name">Island breakfast</h3>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-28T07:30">7:30 am</time>
          <h3 class="event__name">Boat departure</h3>
          <p class="event__desc">Get to the island from _______</p>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-28T08:00">8:00 am</time>
          <h3 class="event__name">Check-in</h3>
          <p class="event__desc">Sign in and get yourself prepared for the day’s events.</p>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-28T09:00">9:00 am</time>
          <h3 class="event__name">Opening</h3>
          <p class="event__desc">A brief introduction to the day’s events.</p>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-28T09:20">9:20 am</time>
          <a class="event__name" href="/speakers#mike-north">
            <h3>Delightful UX for Distributed Systems</h3>
          </a>
          <p class="event__desc">Mike North</p>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-28T10:00">10:00 am</time>
          <a class="event__name" href="speakers#iheanyi-ekechukwu">
            <h3>Ember.js and DevOps: Lessons Learned About Deployment</h3>
          </a>
          <p class="event__desc">Iheanyi Ekechukwu</p>
          </a>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-28T10:40">10:40 am</time>
          <a class="event__name" href="speakers#philip-poots">
            <h3>Elmber</h3>
          </a>
          <p class="event__desc">Philip Poots</p>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-28T11:30">11:30 pm</time>
          <h3 class="event__name">Lunch</h3>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-28T12:30">12:30 pm</time>
          <h3 class="event__name">Boat departure</h3>
          <p class="event__desc">Boats leaving from and going to the island</p>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-28T13:30">1:30 pm</time>
          <a class="event__name" href="speakers#erik-bryn">
            <h3>Taming CSS in Ember.js Apps</h3>
          </a>
          <p class="event__desc">Erik Bryn</p>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-28T14:10">2:10 pm</time>
          <h3 class="event__name">Lightning Talks</h3>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-28T14:50">2:50 pm</time>
          <h3 class="event__name">Afternoon Snack</h3>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-28T15:20">3:20 pm</time>
          <a class="event__name" href="speakers#tom-dale">
            <h3>Keynote</h3>
          </a>
          <p class="event__desc">Tom Dale</p>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-28T16:30">4:30 pm</time>
          <h3 class="event__name">Boat departure</h3>
          <p class="event__desc">Boats leaving from the island</p>
        </li>
        <li class="event">
          <time class="event__time" datetime="2016-06-28T18:00">6:00 pm</time>
          <h3 class="event__name">Dinner</h3>
        </li>
      </ul>
      <div class="schedule__header">
        <span class="schedule__day">Wed 6/29</span>
        <span class="schedule__date">Post-Conference<span>
      </div>
      <ul class="events">
        <li class="event">
          <time class="event__time" datetime="2016-06-29T07:00">7:00 am</time>
          <h3 class="event__name">Boat departure</h3>
          <p class="event__desc">Leave the island!</p>
        </li>
      </ul>
    </div>
  </section>

  <section class="section">
    <div class="section__anchor" id="registration"></div>
    <h2 class="t-heading">Registration</h2>
    <p class="section__desc">
      Early Bird registration will be open until the end of March or until they are sold out.
      If you are interested in lodging options for the conference, please check out our
      <a class="t-link" href="#lodging">lodging</a>
      section.
    </p>
    <tito-widget event="wicked-good/ember-2016" releases="dlx773wyzya,uhrqz9op7y8"></tito-widget>
  </section>

  <section class="section">
    <div class="section__anchor" id="workshops"></div>
    <h2 class="t-heading">Workshops</h2>
    <p class="section__desc">
      Join us for a workshop the day before the conference! It will be held on the island. Mike North and Stefan Penner will be leading an
      <a class="t-link" href="/workshops/advanced-ember">Advanced Ember.js Workshop</a>
      on Sunday, June 26th from 09:00 AM to 05:00 PM. Lunch is included with tickets.
    </p>
  </section>

  <section class="section">
    <div class="section__anchor" id="lodging"></div>
    <h2 class="t-heading">Lodging</h2>
    <p class="section__desc">
      The official conference lodging will be on Thompson Island. We have both dorms and campgrounds available. There is no requirement to
      stay on the island, and we’ll have ferries running each day to make sure you can get to and from the island.
    </p>
    <tito-widget event="wicked-good/ember-2016" releases="0tmss-jsfg,0lypygefaym,m97fuq5kehk"></tito-widget>
  </section>

  <section class="section">
    <div class="section__anchor" id="sponsors"></div>
    <h2 class="t-heading">Sponsors</h2>
    <p class="section__desc">
      We can’t make this conference without your help! If you are awesome and interested in sponsoring the conference, please take a look at our
      <a class="t-link" href="/2016/prospectus.pdf">prospectus</a>
      for more information.
    </p>
    <a class="button" href="http://sponsor.wickedgoodember.com" target="_blank">Become a sponsor</a>
    <div class="sponsors--wicked-good">
      <h3 class="t-subheading sponsors__heading" id="wicked_good_sponsors">Wicked Good</h3>
      <ul class="sponsors__logos">
        <li class="sponsor__logo">
          <a class="sponsor__logo__link" href="https://dockyard.com/" target="_blank">
            <svg><use xlink:href="#dockyard"></svg>
            <span class="t-hidden">DockYard</span>
          </a>
        </li>
        <li class="sponsor__logo">
          <a class="sponsor__logo__link" href="http://rbmtechnologies.com/" target="_blank">
            <img src="2016/sponsors/rbm.png" alt="RBM Technologies">
          </a>
        </li>
        <li class="sponsor__logo">
          <a class="sponsor__logo__link" href="https://www.blueapron.com/" target="_blank">
            <img src="2016/sponsors/blue-apron.png" alt="Blue Apron">
          </a>
        </li>
      </ul>
    </div>
    <div class="sponsors">
      <h3 class="t-subheading sponsors__heading" id="very_good_sponsors">Very Good</h3>
      <ul class="sponsors__logos">
        <li class="sponsor__logo">
          <a class="sponsor__logo__link" href="https://iloan.com/" target="_blank">
            <svg><use xlink:href="#iloan"></svg>
            <span class="t-hidden">iLoan</span>
          </a>
        </li>
        <li class="sponsor__logo">
          <a class="sponsor__logo__link" href="https://kickback.com/" target="_blank">
            <svg><use xlink:href="#kickback"></svg>
            <span class="t-hidden">Kickback</span>
          </a>
        </li>
        <li class="sponsor__logo">
          <a class="sponsor__logo__link" href="https://www.rsa.com/en-us" target="_blank">
            <img src="2016/sponsors/rsa.png" alt="RSA Security">
          </a>
        </li>
        <li class="sponsor__logo">
          <a class="sponsor__logo__link" href="http://codeallday.com/" target="_blank">
            <svg><use xlink:href="#code-all-day"></svg>
            <span class="t-hidden">Code All Day</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="sponsors">
      <h3 class="t-subheading sponsors__heading" id="good_sponsors">Good</h3>
      <ul class="sponsors__logos">
        <li class="sponsor__logo">
          <a class="sponsor__logo__link" href="https://hashrocket.com/" target="_blank">
            <svg><use xlink:href="#hashrocket"></svg>
            <span class="t-hidden">Hashrocket</span>
          </a>
        </li>
        <li class="sponsor__logo">
          <a class="sponsor__logo__link" href="http://greenfieldhq.com/" target="_blank">
            <svg><use xlink:href="#greenfield"></svg>
            <span class="t-hidden">Greenfield</span>
          </a>
        </li>
        <li class="sponsor__logo">
          <a class="sponsor__logo__link" href="http://www.201-created.com/" target="_blank">
            <svg><use xlink:href="#201-created"></svg>
            <span class="t-hidden">201 Created</span>
          </a>
        </li>
        <li class="sponsor__logo">
          <a class="sponsor__logo__link" href="http://rubyonsails.info/" target="_blank">
            <svg><use xlink:href="#ruby-on-sails"></svg>
            <span class="t-hidden">Ruby On Sails</span>
          </a>
        </li>
        <li class="sponsor__logo is-empty">
          <a class="sponsor__logo__link" href="http://sponsor.wickedgoodember.com" target="_blank">Be this sponsor</a>
        </li>
        <li class="sponsor__logo is-empty">
          <a class="sponsor__logo__link" href="http://sponsor.wickedgoodember.com" target="_blank">Be this sponsor</a>
        </li>
      </ul>
    </div>
    <div class="sponsors">
      <h3 class="t-subheading sponsors__heading" id="video_sponsor">Video</h3>
      <ul class="sponsors__logos">
        <li class="sponsor__logo">
          <a class="sponsor__logo__link" href="https://echobind.com/" target="_blank">
            <img src="2016/sponsors/echobind.png" alt="Echobind">
          </a>
        </li>
      </ul>
    </div>
  </section>
</main>
