<section class="section--white l-speakers" id="speakers">
  <h2 class="t-display">Speakers</h2>
  <ul class="speakers">
    <li class="speaker">
      <a class="speaker__link" href="https://twitter.com/christse" title="Visit Chris Tse’s Twitter" target="_blank">
        <img class="speaker__image" alt="Chris Tse" src="speakers/chris-tse.jpg">
        <h3 class="speaker__name">Chris Tse</h3>
        <h4 class="speaker__position">CardStack</h4>
      </a>
    </li>
    <li class="speaker">
      <a class="speaker__link" href="https://twitter.com/michaellnorth" title="Visit Mike North’s Twitter" target="_blank">
        <img class="speaker__image" alt="Mike North" src="speakers/mike-north.jpg">
        <h3 class="speaker__name">Mike North</h3>
        <h4 class="speaker__position">Yahoo</h4>
      </a>
    </li>
    <li class="speaker">
      <a class="speaker__link" href="https://twitter.com/_jayphelps" title="Visit Jay Phelps’s Twitter" target="_blank">
        <img class="speaker__image" alt="Jay Phelps" src="speakers/jay-phelps.jpg">
        <h3 class="speaker__name">Jay Phelps</h3>
        <h4 class="speaker__position">Netflix</h4>
      </a>
    </li>
    <li class="speaker">
      <a class="speaker__link" href="https://twitter.com/edeblois" title="Visit Estelle DeBlois’s Twitter" target="_blank">
        <img class="speaker__image" alt="Estelle DeBlois" src="speakers/estelle-deblois.jpg">
        <h3 class="speaker__name">Estelle DeBlois</h3>
        <h4 class="speaker__position">DockYard</h4>
      </a>
    </li>
    <li class="speaker">
      <a class="speaker__link" href="https://twitter.com/abuiles" title="Visit Adolfo Builes’s Twitter" target="_blank">
        <img class="speaker__image" alt="Adolfo Builes" src="speakers/adolfo-builes.jpg">
        <h3 class="speaker__name">Adolfo Builes</h3>
        <h4 class="speaker__position">Envoy</h4>
      </a>
    </li>
  </ul>
  <p class="t-text">We are <a class="t-link" href="https://docs.google.com/forms/d/1d2-KVP3KxdOsrnvdBq5R8zlF2mFoVMafQRa_9i4IySQ/viewform" target="_blank">accepting RFP’s until May 8th</a>. We will announce the final four speakers shortly after.</p>
</section>

<section class="section section--l section--venue" id="dorms">
  <div class="l-section">
    <div class="section__copy">
      <h2 class="t-display">Live on an Island for a Day</h2>
      <p class="t-text section__desc">We wanted to make this year special, so we rented an entire island for the conference. The talks themselves will take place in an open-air beach house with a view of Boston not soon to be forgotten.</p>
      <p class="t-text section__desc">Overnight accommodations are available on Thompson Island. The Island Dorms are priced at $300. That includes:</p>
      <ul class="section__ul">
        <li class="section__li">Two night stay (Monday June 15th &amp; Tuesday June 16th)</li>
        <li class="section__li">Dinner Monday night</li>
        <li class="section__li">Breakfast Tueday morning</li>
        <li class="section__li">Dinner Tuesday night (part of the after-party)</li>
        <li class="section__li">Breakfast Wednesday morning</li>
      </ul>
    </div>
    <a class="cta" href="https://ti.to/wicked-good/ember-2015/with/kskkzwdtejc" target="_blank">
      <svg class="cta__arrow" xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-triangle">
        <polygon fill="#fff" points="0,0 2,0 41,50 2,100 0,100 0,95 35,50 0,5"/>
        <polygon points="0,0 0,100 40,50"/>
      </svg>
      <svg class="cta__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" enable-background="new 0 0 60 60"><path d="m45 37h-.358c-.081-1.194-.424-3.527-1.846-4.166.152-1.268-.267-3.208-2.628-4.576-4.839-2.802-8.848-3.236-11.915-1.31-.136.085-.268.172-.398.258-1.211-.387-2.079-.458-2.694-.377-.164-1.127-1.134-1.996-2.306-1.996-1.287 0-2.333 1.047-2.333 2.333 0 .442.125.854.34 1.207-.633.131-1.33.299-1.862.433v-4.473c0-.368-.298-.667-.667-.667h-3.333c-.368 0-.667.299-.667.667v20c0 .368.299.667.667.667h3.333c.368 0 .667-.299.667-.667v-2.667h22v2.667c0 .368.298.667.667.667h3.333c.368 0 .667-.299.667-.667v-6.667c0-.367-.299-.666-.667-.666m-16.701-8.508c.013-.008.026-.017.039-.026.21-.143.419-.281.624-.41 2.614-1.643 6.159-1.189 10.537 1.346 2.614 1.514 1.906 3.615 1.876 3.699-.005.012-.006.025-.01.038-.008.026-.016.051-.021.079-.004.022-.005.046-.007.069-.001.016-.004.031-.004.047 0 .005.001.009.001.013 0 .027.004.053.008.08.002.017.003.035.007.051.006.026.015.051.024.077.005.015.009.031.016.045.013.029.028.056.045.083.006.009.01.018.015.026.022.032.047.062.074.09.002.002.003.004.006.007.028.028.059.053.093.077.002.001.004.003.006.004.03.021.063.038.098.053.006.003.012.007.019.009.007.003.014.008.022.011.03.011.061.018.092.024.003.001.006.002.009.002.047.01.093.015.14.015.824.011 1.193 1.754 1.295 2.999h-18.665c-.042-1.115-.081-2.895.021-3.567.054-.36.417-1.442.634-2.039.004-.01.005-.021.008-.031.694-1.104 1.857-2.089 2.998-2.871m-3.378-.245c.001-.003.003-.005.005-.008.002-.004.416-.235 1.537-.021-.564.454-1.052.913-1.464 1.376-.135-.267-.311-.502-.527-.704-.008-.008-.018-.013-.026-.021.19-.179.352-.389.475-.622m-2.067-2.08c.551 0 1 .449 1 1s-.449 1-1 1-1-.449-1-1 .449-1 1-1m-3.854 4.01c.973-.249 2.59-.638 3.216-.684.265-.019.927-.023 1.348.369.259.241.401.621.428 1.125-.313.567-.518 1.137-.606 1.709l-4.386-.03v-2.489zm0 3.741l4.279.066c-.04.933-.005 2.215.025 3.01h-4.304v-3.077m25.333 9.744h-2v-2.667c0-.368-.299-.667-.667-.667h-23.333c-.368 0-.667.299-.667.667v2.667h-2v-18.667h2v12.667c0 .368.298.667.667.667h25.667.333v5.333"/><path d="m51.21 8.787c-5.858-5.858-13.536-8.787-21.21-8.787s-15.355 2.929-21.21 8.787c-11.715 11.716-11.715 30.71 0 42.43 5.859 5.858 13.536 8.787 21.21 8.787s15.355-2.929 21.21-8.787c11.716-11.716 11.716-30.711 0-42.43m4.165 34.549c-.437.832-.917 1.647-1.44 2.441-1.048 1.589-2.271 3.096-3.668 4.493-5.414 5.414-12.613 8.396-20.27 8.396-7.657 0-14.856-2.982-20.27-8.396-1.397-1.397-2.62-2.904-3.668-4.493-.524-.794-1-1.609-1.44-2.441-.655-1.248-1.212-2.534-1.67-3.848-1.071-3.065-1.606-6.277-1.606-9.488 0-.459.011-.918.033-1.376.328-6.875 3.111-13.655 8.35-18.894 2.03-2.031 4.312-3.719 6.774-5.04 4.104-2.196 8.71-3.36 13.496-3.36 4.786 0 9.393 1.165 13.497 3.36 2.462 1.317 4.743 3 6.773 5.04 5.24 5.239 8.02 12.02 8.351 18.894.021.458.033.917.033 1.376 0 3.211-.535 6.423-1.604 9.488-.459 1.314-1.016 2.6-1.671 3.848"/><path d="m24.06 20.746c.772.879 1.896 1.4 3.088 1.4.096 0 .191-.003.288-.01.711.542 1.586.844 2.491.844.904 0 1.779-.301 2.49-.844.096.007.192.01.287.01 1.193 0 2.316-.521 3.088-1.4 2.123-.159 3.801-1.937 3.801-4.1 0-2.162-1.678-3.94-3.801-4.099-.772-.879-1.896-1.401-3.088-1.401-.095 0-.191.004-.287.011-.711-.542-1.586-.844-2.49-.844-.905 0-1.779.302-2.491.844-.096-.007-.192-.011-.288-.011-1.193 0-2.316.521-3.088 1.401-2.122.159-3.8 1.937-3.8 4.099 0 2.163 1.678 3.94 3.8 4.1m.311-6.878c.122 0 .241.011.359.026.477-.844 1.38-1.415 2.418-1.415.246 0 .483.035.71.095.508-.568 1.245-.928 2.068-.928.823 0 1.56.36 2.068.928.227-.06.464-.095.709-.095 1.039 0 1.942.571 2.419 1.415.118-.015.237-.026.359-.026 1.534 0 2.778 1.244 2.778 2.778s-1.244 2.778-2.778 2.778c-.122 0-.241-.01-.359-.026-.477.844-1.38 1.415-2.419 1.415-.246 0-.482-.035-.709-.094-.508.568-1.245.928-2.068.928-.823 0-1.56-.36-2.069-.928-.227.06-.464.094-.709.094-1.038 0-1.942-.57-2.418-1.415-.118.016-.237.026-.359.026-1.534 0-2.778-1.244-2.778-2.778s1.244-2.778 2.778-2.778"/></svg>
      <span class="cta__heading">On Sale - $300</span>
    </a>
  </div>
</section>

<div class="l-overflow">
  <a class="subsection--map" href="https://goo.gl/maps/L7ORL" target="_blank">
    <svg class="subsection--map__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" enable-background="new 0 0 60 60"><g><path d="m51.21 8.787c-5.858-5.858-13.535-8.787-21.21-8.787-7.678 0-15.355 2.929-21.21 8.787-11.716 11.716-11.716 30.711 0 42.43 5.858 5.857 13.535 8.787 21.21 8.787 7.678 0 15.356-2.93 21.21-8.787 11.716-11.715 11.716-30.711 0-42.43m-.943 41.483c-5.414 5.416-12.613 8.397-20.27 8.397-7.657 0-14.855-2.981-20.27-8.397-11.177-11.176-11.177-29.363 0-40.54 5.414-5.415 12.612-8.397 20.27-8.397 7.657 0 14.856 2.981 20.27 8.396 11.177 11.178 11.177 29.365 0 40.541"/><path d="m46.797 26.346l-9.464-1.893v-1.12h2.667c.264 0 .502-.155.609-.396s.062-.522-.115-.718l-9.667-10.667c-.124-.137-.299-.216-.483-.219-.181-.006-.362.07-.49.203l-10.333 10.667c-.186.193-.239.478-.135.724s.346.407.614.407h2.667v1.12l-9.464 1.893c-.312.062-.536.336-.536.654v15.666c0 .369.299.668.667.668h6v3c-.001.366.298.665.666.665h20c.367 0 .666-.299.666-.666v-3h6c.368 0 .667-.299.667-.668v-15.666c0-.318-.224-.591-.536-.654m-14.797 19.32h-4v-5.332h4v5.332zm7.333 0h-6v-6c0-.367-.299-.666-.667-.666h-5.333c-.368 0-.667.299-.667.666v6h-6v-12.666c0-.367-.299-.666-.667-.666h-1.319l11.643-8.659 11.08 8.659h-1.399c-.368 0-.667.299-.667.666v12.666m6.667-3.666h-5.334v-8.334h2.667c.284 0 .538-.18.63-.449.094-.268.005-.566-.22-.742l-13-10.163c-.237-.186-.567-.189-.809-.01l-13.665 10.163c-.231.172-.326.473-.235.744.09.273.345.457.633.457h2.667v8.334h-5.334v-14.453l9.464-1.893c.311-.063.536-.336.536-.654v-2.333c0-.368-.299-.667-.667-.667h-1.759l8.743-9.03 8.179 9.03h-1.83c-.367 0-.666.299-.666.667v2.333c0 .318.225.591.535.654l9.465 1.893v14.453"/><path d="m30.413 25.478c-.236-.187-.567-.193-.81-.014l-7.667 5.667c-.231.171-.327.471-.237.744.09.273.346.459.633.459h14.833c.284 0 .537-.18.63-.449.093-.268.007-.564-.216-.74l-7.166-5.667m-6.06 5.522l5.629-4.161 5.263 4.161h-10.892"/><path d="m32.666 17.333c0-.369-.298-.667-.666-.667h-3c-.368 0-.667.298-.667.667v3c0 .369.298.667.667.667h3c.368 0 .666-.298.666-.667v-3m-1.666 2.334h-1.333v-1.667h1.333v1.667"/><path d="m37 33h-14.667c-.368 0-.667.299-.667.666 0 .369.299.668.667.668h14.667c.367 0 .666-.299.666-.668 0-.367-.299-.666-.666-.666"/></g></svg>
    <div class="subsection--map__pinpoint"></div>
    <img class="subsection--map__image" src="/map.jpg" alt="Map of Thompson Island">
  </a>
  <img class="subsection--building" src="/building.jpg" alt="Building for Wicked Good Ember Conf">
</div>

<section class="section--sponsors" id="sponsors">
  <div class="l-sponsors">
    <h2 class="sponsors__heading">Thanks to our sponsors!</h2>
    <ul class="sponsors">
      <li class="sponsor">
        <h3 class="sponsor__heading">Video</h3>
      </li>
      <li class="sponsor">
        <h3 class="sponsor__heading">Kinda Good</h3>
        <ul class="sponsor__logos">
          <li class="sponsor__logo">
            <a class="sponsor__link" href="http://www.201-created.com/" target="_blank">
              <img class="sponsor__image" alt="201 Created" src="/sponsors/201-created.png">
            </a>
          </li>
          <li class="sponsor__logo">
            <a class="sponsor__link" href="http://echobind.com/" target="_blank">
              <img class="sponsor__image" alt="echobind" src="/sponsors/echobind.png">
            </a>
          </li>
          <li class="sponsor__logo">
            <a class="sponsor__link" href="https://www.societyofgrownups.com/" target="_blank">
              <img class="sponsor__image" alt="Society of Grownups" src="/sponsors/society-of-grownups.png">
            </a>
          </li>
        </ul>
      </li>
      <li class="sponsor">
        <h3 class="sponsor__heading">Good</h3>
        <ul class="sponsor__logos">
          <li class="sponsor__logo">
            <a class="sponsor__link" href="http://hashrocket.com/" target="_blank">
              <img class="sponsor__image" alt="Hashrocket" src="/sponsors/hashrocket.png">
            </a>
          </li>
        </ul>
      </li>
      <li class="sponsor">
        <h3 class="sponsor__heading">Very Good</h3>
        <ul class="sponsor__logos">
          <li class="sponsor__logo">
            <a class="sponsor__link" href="https://divshot.com/" target="_blank">
              <img class="sponsor__image" alt="Divshot" src="/sponsors/divshot.png">
            </a>
          </li>
          <li class="sponsor__logo">
            <a class="sponsor__link" href="https://rbmtechnologies.com/" target="_blank">
              <img class="sponsor__image" alt="RBM Technologies" src="/sponsors/rbm-technologies.png">
            </a>
          </li>
        </ul>
      </li>
      <li class="sponsor">
        <h3 class="sponsor__heading">Wicked Good</h3>
        <ul class="sponsor__logos">
          <li class="sponsor__logo">
            <a class="sponsor__link" href="http://dockyard.com/" target="_blank">
              <img class="sponsor__image" alt="DockYard" src="/sponsors/dockyard.png">
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>

<section class="section section--r section--sponsor" id="sponsor">
  <div class="l-section">
    <div class="section__copy">
      <h2 class="t-display">Become a Sponsor</h2>
      <p class="t-text section__desc">
        We can’t make this conference without your help! If you are awesome and interested in sponsoring the conference, please take a look at our
        <a class="t-link" href="/prospectus.pdf">prospectus</a>
        for more information.
    </div>
    <a class="cta" href="https://docs.google.com/forms/d/1OSZvL5igYQHHsoRtO3DlksXeZ-kdYQ7HpfdwsCBINt0/viewform">
      <svg class="cta__arrow" xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-triangle">
        <polygon fill="#fff" points="98,0 100,0 100,5 65,50 100,95 100,100 98,100 59,50"/>
        <polygon points="100,0 100,100 60,50"/>
      </svg>
      <svg class="cta__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" enable-background="new 0 0 60 60"><path d="m51.21 8.787c-5.858-5.858-13.536-8.787-21.21-8.787s-15.355 2.929-21.21 8.787c-11.715 11.716-11.715 30.71 0 42.43 5.859 5.858 13.536 8.787 21.21 8.787s15.355-2.929 21.21-8.787c11.716-11.716 11.716-30.711 0-42.43m4.165 34.549c-.437.832-.917 1.647-1.44 2.441-1.048 1.589-2.271 3.096-3.668 4.493-5.414 5.414-12.613 8.396-20.27 8.396-7.657 0-14.856-2.982-20.27-8.396-1.397-1.397-2.62-2.904-3.668-4.493-.524-.794-1-1.609-1.44-2.441-.655-1.248-1.212-2.534-1.67-3.848-1.071-3.065-1.606-6.277-1.606-9.488 0-.459.011-.918.033-1.376.328-6.875 3.111-13.655 8.35-18.894 2.03-2.031 4.312-3.719 6.774-5.04 4.104-2.196 8.71-3.36 13.496-3.36 4.786 0 9.393 1.165 13.497 3.36 2.462 1.317 4.743 3 6.773 5.04 5.24 5.239 8.02 12.02 8.351 18.894.021.458.033.917.033 1.376 0 3.211-.535 6.423-1.604 9.488-.459 1.314-1.016 2.6-1.671 3.848"/><path d="m48.666 19.667h-37c-.368 0-.667.299-.667.667v20c.001.367.299.666.668.666h37c.368 0 .667-.299.667-.667v-20c-.001-.368-.3-.666-.668-.666m-.666 20h-35.667v-18.667h35.667v18.667z"/><path d="m14 34.982c2.104 0 2.418 1.682 2.418 2.684 0 .368.298.667.667.667h3.915c.368 0 .667-.298.667-.667s-.299-.666-.667-.666h-3.287c-.219-1.827-1.35-3.052-3.046-3.303v-3.364-3.363c1.696-.251 2.827-1.476 3.046-3.303h3.287c.368 0 .667-.299.667-.667s-.299-.667-.667-.667h-3.915c-.368 0-.667.298-.667.667 0 1-.314 2.684-2.418 2.684-.368 0-.667.298-.667.667v3.982 3.982c0 .369.299.667.667.667"/><path d="m39.33 23.667h3.287c.219 1.827 1.35 3.052 3.046 3.303v3.363 3.364c-1.696.251-2.827 1.476-3.046 3.303h-3.287c-.368 0-.667.299-.667.667s.299.667.667.667h3.915c.368 0 .667-.299.667-.667 0-1 .314-2.684 2.418-2.684.368 0 .667-.299.667-.667v-3.982-3.982c0-.369-.299-.667-.667-.667-2.104 0-2.418-1.682-2.418-2.684 0-.368-.298-.667-.667-.667h-3.915c-.368 0-.667.298-.667.667s.299.666.667.666"/><path d="m17.333 28c-.368 0-.667.298-.667.667v3.333c0 .368.298.667.667.667h6.953c.932 2.339 3.214 4 5.882 4 2.667 0 4.951-1.661 5.882-4h6.95c.368 0 .667-.299.667-.667v-3.333c0-.369-.299-.667-.667-.667h-6.95c-.932-2.34-3.215-4-5.882-4-2.668 0-4.951 1.66-5.882 4h-6.953m.667 3.333v-2h5.921c-.052.327-.087.659-.087 1 0 .341.035.673.087 1h-5.921m8.856 2.739c.359-.496 1.368-1.59 3.311-1.723 1.944.133 2.953 1.229 3.312 1.724-.883.781-2.039 1.259-3.31 1.259-1.273.001-2.431-.478-3.313-1.26m3.312-3.072c-.92 0-1.667-.747-1.667-1.667s.747-1.667 1.667-1.667 1.667.746 1.667 1.667-.747 1.667-1.667 1.667m12.165-1.667v2h-5.919c.052-.327.087-.659.087-1 0-.341-.035-.673-.087-1h5.919zm-12.165-4c2.761 0 5 2.239 5 5 0 1-.297 1.932-.804 2.713-.398-.481-1.083-1.124-2.11-1.561.562-.546.915-1.308.915-2.152 0-1.654-1.346-3-3-3s-3 1.346-3 3c0 .844.351 1.606.914 2.151-1.027.436-1.712 1.078-2.111 1.56-.506-.781-.803-1.711-.803-2.711-.001-2.761 2.237-5 4.999-5"/><path d="m30.333 13.667c.368 0 .667-.299.667-.667v-3.333c0-.368-.299-.667-.667-.667-.368 0-.667.299-.667.667v3.333c.001.368.299.667.667.667"/><path d="m20.04 16.316c.13.13.301.195.471.195.171 0 .341-.065.472-.195.26-.26.26-.682 0-.943l-2.357-2.356c-.26-.261-.682-.261-.942 0-.261.26-.261.682 0 .943l2.356 2.356"/><path d="m39.488 16.512c.171 0 .341-.065.472-.195l2.356-2.356c.261-.261.261-.683 0-.943-.26-.261-.683-.261-.942 0l-2.357 2.356c-.26.261-.26.683 0 .943.13.13.3.195.471.195"/><path d="m30.333 47.33c-.368 0-.667.299-.667.667v3.333c0 .368.298.667.667.667.368 0 .667-.299.667-.667v-3.333c0-.368-.299-.667-.667-.667"/><path d="m20.04 44.528l-2.356 2.357c-.261.26-.261.683 0 .942.13.13.3.195.471.195.17 0 .341-.065.471-.195l2.357-2.357c.26-.26.26-.683 0-.943-.261-.259-.683-.259-.943.001"/><path d="m39.959 44.528c-.261-.26-.683-.26-.943 0s-.26.683 0 .943l2.357 2.357c.13.13.301.195.471.195s.341-.065.471-.195c.261-.26.261-.682 0-.942l-2.356-2.358"/></svg>
      <span class="cta__heading">Sponsor Us</span>
    </a>
  </div>
</section>

<section class="section--white faq" id="faq">
  <h2 class="t-display">FAQ</h2>
  <ul class="faq__copy">
    <li>
      <h3>Is the conference really on an island?</h3>
      <p class="t-text section__desc">Yes!</p>
    </li>
    <li>
      <h3>How will I get to the island? What if I have to leave early?</h3>
      <p class="t-text section__desc">We will be ferrying attendees back to the mainland at designated times. If you cannot make the ferry or need to leave early there are water taxis available that can be used at any time. You can even take a water taxi directly to Logan Airport if you wish.</p>
    </li>
    <li>
      <h3>Tell me more about the overnight accommodation!</h3>
      <p class="t-text section__desc">Thompson Island has dorms available. They will be available to rent the night of Monday June 15th and the night of Tuesday June 16th. Those that join us the night before the conference can take part in some fun hacking and hanging out on Thompson Island with the DockYard crew. We plan on pricing the dorms to be &ldquo;all inclusive&rdquo; meaning if you sign up to stay then your dinner on June 15th, breakfast on June 16th and June 17th will be covered.</p>
      <p class="t-text section__desc">The dorms themselves are best described as “college living”. Two to a dorm room. Blankets, pillows, etc... are all provided (all clean of course). We will try our best to match people up that request so.</p>
    </li>
    <li>
      <h3>The dorms sound cool but it isn’t for me. Are there other options?</h3>
      <p class="t-text section__desc">We are not working with any hotels in Boston but there are plenty to choose from.</p>
    </li>
    <li>
      <h3>I am interested in speaking. What type of talks are you looking for?</h3>
      <p class="t-text section__desc">Anything related to Ember. The more “out there” the better. We are interested in truly unique perspectives on how people/companies are using Ember as well as speakers that share their expert experience.</p>
    </li>
    <li>
      <h3>Will there be a training day prior to the conference?</h3>
      <p class="t-text section__desc">Not this year.</p>
    </li>
  </ul>
  <p class="faq__email-us">
    <i>Don’t see the answers you want?</i>
    <a class="t-link" href="mailto:brian@dockyard.com?subject=WGE-2015-FAQ" target="_blank">Email Us!</a>
  </p>
</section>

<section class="section section--r section--archive" id="2014">
  <div class="l-section">
    <div class="section__copy">
      <h2 class="t-display">Want More?</h2>
      <p class="t-text section__desc">Not totally sold yet or just want to experience the joy of going back in time? No problem! We&rsquo;ve got you covered &ndash; easily check out our 2014 conference. Just a word of warning, don&rsquo;t touch anything and adjust the present&hellip; please.</p>
    </div>
    <a class="cta" href="/2014">
      <svg class="cta__arrow" xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-triangle">
        <polygon fill="#fff" points="98,0 100,0 100,5 65,50 100,95 100,100 98,100 59,50"/>
        <polygon points="100,0 100,100 60,50"/>
      </svg>
      <svg class="cta__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" enable-background="new 0 0 60 60"><path d="m10.658 28.595c0 .369-.298.667-.667.667s-.667-.298-.667-.667c0-.368.298-.667.667-.667s.667.299.667.667"/><path d="m51.21 8.787c-5.858-5.858-13.536-8.787-21.21-8.787s-15.355 2.929-21.21 8.787c-11.715 11.716-11.715 30.71 0 42.43 5.859 5.858 13.536 8.787 21.21 8.787s15.355-2.929 21.21-8.787c11.716-11.716 11.716-30.711 0-42.43m4.165 34.549c-.437.832-.917 1.647-1.44 2.441-1.048 1.589-2.271 3.096-3.668 4.493-5.414 5.414-12.613 8.396-20.27 8.396-7.657 0-14.856-2.982-20.27-8.396-1.397-1.397-2.62-2.904-3.668-4.493-.524-.794-1-1.609-1.44-2.441-.655-1.248-1.212-2.534-1.67-3.848-1.071-3.065-1.606-6.277-1.606-9.488 0-.459.011-.918.033-1.376.328-6.875 3.111-13.655 8.35-18.894 2.03-2.031 4.312-3.719 6.774-5.04 4.104-2.196 8.71-3.36 13.496-3.36 4.786 0 9.393 1.165 13.497 3.36 2.462 1.317 4.743 3 6.773 5.04 5.24 5.239 8.02 12.02 8.351 18.894.021.458.033.917.033 1.376 0 3.211-.535 6.423-1.604 9.488-.459 1.314-1.016 2.6-1.671 3.848"/><path d="m27.56 22.329c0 1.348 1.093 2.44 2.44 2.44 1.348 0 2.44-1.092 2.44-2.44s-1.093-2.44-2.44-2.44c-1.348 0-2.44 1.092-2.44 2.44m3.546 0c0 .61-.497 1.106-1.107 1.106-.61 0-1.107-.496-1.107-1.106s.498-1.107 1.108-1.107c.61 0 1.106.497 1.106 1.107"/><path d="m30.333 25.333h-.667-1.619c-2.729 0-3.71 3.246-3.986 4.487l-3.189.635c-.637.074-1.544.623-1.544 1.879 0 .488.183.903.528 1.201.395.341.93.458 1.37.458.119 0 .231-.008.331-.023.355-.053.789-.11 1.239-.169.81-.106 1.648-.217 2.206-.324.544-.104 1.01-.236 1.404-.397l-.058 1.156c-.895.245-2.661.931-3.569 2.671-.913 1.75-.59 3.415-.248 5.178.069.355.14.72.202 1.096.341 2.044 1.491 2.265 1.969 2.265.449 0 1.016-.058 1.42-.51.48-.537.451-1.363.387-1.938-.02-.185-.046-.386-.073-.598-.12-.93-.302-2.335.005-2.926.356-.687 1.637-1.081 3.516-1.081.015 0 .028-.003.042-.004.015.001.028.004.043.004 1.878 0 3.16.394 3.516 1.081.307.591.125 1.996.005 2.926-.027.212-.053.413-.073.598-.064.575-.094 1.402.387 1.938.404.452.971.51 1.419.51.479 0 1.628-.221 1.969-2.265.063-.376.134-.741.203-1.096.342-1.763.665-3.427-.249-5.178-.908-1.74-2.674-2.426-3.569-2.671l-.058-1.158c.397.162.865.296 1.404.4.558.107 1.396.218 2.206.324.449.059.884.116 1.238.169.1.015.212.023.331.023.439 0 .975-.117 1.37-.458.345-.297.527-.713.527-1.201 0-1.256-.906-1.805-1.543-1.879l-3.189-.635c-.276-1.241-1.257-4.487-3.986-4.487h-1.617m4.375 5.15c.041.278.253.501.529.556l3.66.729c.025.005.035.007.06.009.251.034.379.222.379.556 0 .135-.042.171-.065.191-.134.116-.459.151-.634.125-.361-.054-.803-.112-1.261-.172-.791-.104-1.608-.212-2.128-.312-1.016-.195-1.497-.457-1.721-.642-.004-.003-.008-.005-.013-.008l-.141-2.83c-.018-.368-.333-.649-.699-.632-.368.018-.651.331-.633.699l.301 6.05c.016.317.253.58.568.626.022.003 2.215.346 3.125 2.089.698 1.338.444 2.648.122 4.308-.071.366-.144.743-.208 1.131-.093.557-.314 1.151-.655 1.151-.363 0-.424-.063-.426-.065-.006-.006-.137-.163-.055-.902.02-.177.045-.371.071-.574.158-1.225.354-2.749-.144-3.71-.62-1.194-2.201-1.8-4.7-1.8-.015 0-.028.003-.043.004-.014-.001-.028-.004-.042-.004-2.499 0-4.081.605-4.7 1.8-.499.962-.302 2.486-.144 3.71.026.204.051.397.071.574.082.739-.05.896-.055.902-.002.002-.063.065-.427.065-.34 0-.561-.594-.654-1.151-.065-.388-.138-.765-.208-1.131-.322-1.659-.577-2.97.122-4.308.901-1.729 3.104-2.085 3.125-2.089.314-.046.553-.309.568-.626l.301-6.05c.019-.368-.265-.681-.632-.699-.36-.017-.681.265-.699.632l-.141 2.827c-.232.193-.717.458-1.734.653-.519.1-1.337.207-2.128.312-.457.06-.899.118-1.261.172-.173.027-.499-.009-.634-.125-.023-.02-.065-.056-.065-.191 0-.334.127-.522.364-.554.025-.002.05-.006.076-.011l3.66-.729c.275-.055.487-.278.529-.555.006-.038.602-3.819 2.757-3.819h1.619.667 1.619c2.156.001 2.752 3.781 2.757 3.818"/><path d="m30 9.333c-10.928 0-19.896 8.527-20.615 19.276l-.503-.503c-.26-.26-.682-.26-.943 0-.26.261-.26.682 0 .942l1.512 1.512c.13.13.3.195.471.195.026 0 .052-.005.077-.008.026.003.052.008.078.008.17 0 .341-.065.471-.195l1.512-1.512c.26-.26.26-.682 0-.942-.261-.26-.683-.26-.943 0l-.387.387c.773-9.958 9.117-17.826 19.27-17.826 10.621 0 19.265 8.608 19.331 19.214-.001.016-.005.031-.005.048 0 .368.299.667.667.667.344 0 .624-.261.66-.595h.015c-.002-11.397-9.273-20.668-20.668-20.668"/><path d="m30.419 14.15c-.245-.198-.595-.198-.84 0l-12.333 10c-.156.127-.246.317-.246.519v23c0 .368.299.667.667.667h24.667c.368 0 .667-.299.667-.667v-23c0-.201-.091-.391-.247-.518l-12.335-10m11.248 32.852h-23.334v-22.02l11.667-9.459 11.667 9.459v22.02"/></svg>
      <span class="cta__heading">Go Back In Time</span>
    </a>
  </div>
</section>
