<section class="section section--speakers" id="speakers">
  <h2 class="t-heading">Speakers</h2>
  <div class="speakers">
    <figure class="speaker">
      <img class="speaker__image" src="2016/speakers/tom-dale.jpg" alt="Tom Dale">
      <figcaption class="speaker__info">
        <h3 class="speaker__heading">Tom Dale</h3>
        <span class="t-text">
          <span class="speaker__keynote">Keynote</span>
          Co-creator of
          <a class="t-link" href="http://emberjs.com/" target="_blank">Ember.js</a>
        </span>
      </figcaption>
    </figure>
    <figure class="speaker">
      <img class="speaker__image" src="2016/speakers/chris-mccord.jpg" alt="Chris McCord">
      <figcaption class="speaker__info">
        <h3 class="speaker__heading">Chris McCord</h3>
        <span class="t-text">
          <span class="speaker__keynote">Co-Keynote</span>
          Architectural Engineer at
          <a class="t-link" href="https://dockyard.com/" target="_blank">DockYard</a>
          and Creator of
          <a class="t-link" href="http://www.phoenixframework.org/" target="_blank">Phoenix</a>
        </span>
      </figcaption>
    </figure>
    <figure class="speaker">
      <img class="speaker__image" src="2016/speakers/dan-mcclain.jpg" alt="Dan McClain">
      <figcaption class="speaker__info">
        <h3 class="speaker__heading">Dan McClain</h3>
        <span class="t-text">
          <span class="speaker__keynote">Co-Keynote</span>
          Head of Engineering at
          <a class="t-link" href="https://dockyard.com/" target="_blank">DockYard</a>
        </span>
      </figcaption>
    </figure>
  </div>
  <h3 class="speaker__heading">And other amazing speakers</h3>
  <p class="t-text">To apply to speak at WGE 2016, submit a proposal:</p>
  <a class="button" href="http://rfp.wickedgoodember.com" target="_blank">Submit</a>
</section>

<section class="section" id="registration">
  <h2 class="t-heading">Registration</h2>
  <p class="section__desc">
    Early Bird registration will be open until the end of March or until they are sold out.
    If you are interested in lodging options for the conference, please check out our
    <a class="t-link" href="#lodging">lodging</a>
    section.
  </p>
  <tito-widget event="wicked-good/ember-2016" releases="dlx773wyzya,uhrqz9op7y8"></tito-widget>
</section>

<section class="section" id="lodging">
  <h2 class="t-heading">Lodging</h2>
  <p class="section__desc">
    The official conference lodging will be on Thompson Island. We have both dorms and campgrounds available. There is no requirement to
    stay on the island, and we’ll have ferries running each day to make sure you can get to and from the island.
  </p>
  <tito-widget event="wicked-good/ember-2016" releases="0lypygefaym,m97fuq5kehk"></tito-widget>
</section>

<section class="section" id="sponsors">
  <h2 class="t-heading">Sponsors</h2>
  <p class="section__desc">
    We can’t make this conference without your help! If you are awesome and interested in sponsoring the conference, please take a look at our
    <a class="t-link" href="https://drive.google.com/a/dockyard.com/file/d/0B0xLXLr7k4-DQzNNYlgwSk9rRms/view" target="_blank">prospectus</a>
    for more information.
  </p>
  <a class="button" href="http://sponsor.wickedgoodember.com" target="_blank">Become a sponsor</a>
  <div class="sponsors--wicked-good">
    <h3 class="sponsors__heading" id="wicked_good_sponsors">Wicked Good</h3>
    <ul class="sponsors__logos">
      <li class="sponsor__logo">
        <a class="sponsor__logo__link" href="https://dockyard.com/" target="_blank">
          <svg><use xlink:href="#dockyard"></svg>
          <span class="t-hidden">DockYard</span>
        </a>
      </li>
      <li class="sponsor__logo">
        <a class="sponsor__logo__link" href="http://rbmtechnologies.com/" target="_blank">
          <img src="2016/sponsors/rbm.png" alt="RBM Technologies">
        </a>
      </li>
      <li class="sponsor__logo is-empty">
        <a class="sponsor__logo__link" href="http://sponsor.wickedgoodember.com" target="_blank">Be this sponsor</a>
      </li>
    </ul>
  </div>
  <div class="sponsors">
    <h3 class="sponsors__heading" id="very_good_sponsors">Very Good</h3>
    <ul class="sponsors__logos">
      <li class="sponsor__logo is-empty">
        <a class="sponsor__logo__link" href="http://sponsor.wickedgoodember.com" target="_blank">Be this sponsor</a>
      </li>
      <li class="sponsor__logo is-empty">
        <a class="sponsor__logo__link" href="http://sponsor.wickedgoodember.com" target="_blank">Be this sponsor</a>
      </li>
      <li class="sponsor__logo is-empty">
        <a class="sponsor__logo__link" href="http://sponsor.wickedgoodember.com" target="_blank">Be this sponsor</a>
      </li>
      <li class="sponsor__logo is-empty">
        <a class="sponsor__logo__link" href="http://sponsor.wickedgoodember.com" target="_blank">Be this sponsor</a>
      </li>
      <li class="sponsor__logo is-empty">
        <a class="sponsor__logo__link" href="http://sponsor.wickedgoodember.com" target="_blank">Be this sponsor</a>
      </li>
    </ul>
  </div>
  <div class="sponsors">
    <h3 class="sponsors__heading" id="good_sponsors">Good</h3>
    <ul class="sponsors__logos">
      <li class="sponsor__logo">
        <a class="sponsor__logo__link" href="https://hashrocket.com/" target="_blank">
          <svg><use xlink:href="#hashrocket"></svg>
          <span class="t-hidden">Hashrocket</span>
        </a>
      </li>
      <li class="sponsor__logo">
        <a class="sponsor__logo__link" href="http://greenfieldhq.com/" target="_blank">
          <svg><use xlink:href="#greenfield"></svg>
          <span class="t-hidden">Greenfield</span>
        </a>
      </li>
      <li class="sponsor__logo is-empty">
        <a class="sponsor__logo__link" href="http://sponsor.wickedgoodember.com" target="_blank">Be this sponsor</a>
      </li>
    </ul>
  </div>
  <div class="sponsors">
    <h3 class="sponsors__heading" id="video_sponsor">Video</h3>
    <ul class="sponsors__logos">
      <li class="sponsor__logo">
        <a class="sponsor__logo__link" href="https://echobind.com/" target="_blank">
          <img src="2016/sponsors/echobind.png" alt="Echobind">
        </a>
      </li>
    </ul>
  </div>
</section>
