%section.intro-section
  .wrap
    .subheader-wrap
      %i.subheader-has-lines
        %span.subheader--black DockYard Presents
    %h1.intro__header.section__header Wicked Good Ember 2014
    %h2.section__subheader June 17<span class="is-superscript">th</span><span class="text-divider">// </span>Boston, MA
    .intro__button-wrap
      %a.intro__button{href: "https://ti.to/wicked-good/ember-2014", target: '_blank'}
        %span.intro__button__message1 I Wanna Go!
        %span.intro__button__message2 Please, Can I?
    %a.intro__scroll-down{href: "#speakers"}
      %span.intro__scroll-down__icon{aria: {hidden: "true"}, data: {icon: "⌄"}}
      %span.for-screen-reader Scroll Down

%section.speakers-section#speakers
  .wrap
    %h1.section__header Speakers
    %p.wrap--text--center We are looking to gather up to 9 speakers and 1 keynote speaker for Boston&rsquo;s first Ember conference!
    .button-wrap
      %a.button{href: "https://docs.google.com/forms/d/1Kh1s2jPHdfa2w1iMSayJUxgiHLz7QXYhPN4G2Gesm5Q/viewform", target: "_blank"} Submit a Talk

  %ul.speakers
    %li.speaker
      %a.speaker__diamond{href: "/robin-ward"}
        .speaker__image
        .speaker__image-overlay
          %h5.speaker__image-overlay__header Robin Ward
          %h6.speaker__image-overlay__desc Co-Founder
          %h6.speaker__image-overlay__desc Discourse
    %li.speaker
      %a.speaker__diamond{href: "/joe-fiorini"}
        .speaker__image
        .speaker__image-overlay
          %h5.speaker__image-overlay__header Joe Fiorini
          %h6.speaker__image-overlay__desc Developer
          %h6.speaker__image-overlay__desc Designing Interactive
    %li.speaker
      %a.speaker__diamond{href: "/dan-gebhardt"}
        .speaker__image
        .speaker__image-overlay
          %h5.speaker__image-overlay__header Dan Gebhardt
          %h6.speaker__image-overlay__desc Co-founder
          %h6.speaker__image-overlay__desc Cerebris
    %li.speaker
      %a.speaker__diamond{href: '/robert-jackson'}
        .speaker__image
        .speaker__image-overlay
          %h5.speaker__image-overlay__header Robert Jackson
          %h6.speaker__image-overlay__desc Developer at DockYard
          %h6.speaker__image-overlay__desc Ember.js Core Team
    %li.speaker
      %a.speaker__diamond{href: "/luke-melia"}
        .speaker__image
        .speaker__image-overlay
          %h5.speaker__image-overlay__header Luke Melia
          %h6.speaker__image-overlay__desc CTO
          %h6.speaker__image-overlay__desc Yapp
    %li.speaker
      %a.speaker__diamond{href: "/edward-faulkner"}
        .speaker__image
        .speaker__image-overlay
          %h5.speaker__image-overlay__header Edward Faulkner
          %h6.speaker__image-overlay__desc CTO
          %h6.speaker__image-overlay__desc Braveleaf
    %li.speaker
      %a.speaker__diamond{href: "katie-gengler"}
        .speaker__image
        .speaker__image-overlay
          %h5.speaker__image-overlay__header Katie Gengler
          %h6.speaker__image-overlay__desc CTO
          %h6.speaker__image-overlay__desc Funding Gates
    %li.speaker
      %a.speaker__diamond{href: '/erik-bryn'}
        .speaker__image
        .speaker__image-overlay
          %h5.speaker__image-overlay__header Erik Bryn
          %h6.speaker__image-overlay__desc Founder at Prototypal
          %h6.speaker__image-overlay__desc Ember.js Core Team
    %li.speaker
      %a.speaker__diamond{href: '/phil-renaud'}
        .speaker__image
        .speaker__image-overlay
          %h5.speaker__image-overlay__header Phil Renaud
          %h6.speaker__image-overlay__desc Co-founder
          %h6.speaker__image-overlay__desc affin.io

%section.pre-location-section
  .pre-location__border
  %a.pre-location__icon-wrap{href: "https://goo.gl/maps/WtIXD", target: "_blank"}
    .pre-location__icon{data: {icon:"⚑"}}

.location-has-carrot
%section.location-section
  .wrap
    %h1.section__header Location
    %a.location__address{href: "https://goo.gl/maps/WtIXD", target: "_blank"}
      %h3 Artists for Humanity EpiCenter<span class="text-divider">// </span>100&nbsp;West&nbsp;2<span class="is-superscript">nd</span>&nbsp;Street South&nbsp;Boston,&nbsp;MA&nbsp;02127
    %p.wrap--text
      Wicked Good Ember Conf will be held at the Artists for Humanity EpiCenter in South Boston. There is no official conference hotel, but we recommend
      = succeed '.' do
        %a.text-link{href: "https://goo.gl/maps/UwgV6", target: "_blank"} staying within walking distance of the MBTA Red Line
      The AFH is a 5 minute walk from the
      = succeed '.' do
        %a.text-link{href: "https://goo.gl/maps/nFgKJ", target: "_blank"} Broadway Station
