%section.speaker-detail-section
  .wrap--narrow
    %h1.speaker-detail__name Robert Jackson
    -#%h2 10/12<span class="text-divider">// </span>Saturday<span class="text-divider">// </span>11:00 am

    .speaker-detail__image-wrap
      .speaker-detail__image

    .speaker-detail__text-wrap
      %h4.speaker-detail__subheader About the Talk
      %h3.speaker-detail__header The Dark Side of Ruby
      %p Wicked Good Ruby Conf is going to be held at the Seaport Hotel &amp; World Trade Center in Boston. We recommend staying at their hotel if you are coming from out of town. We have reserved a number of single and double rooms for conference attendees. Be sure to use this link to book your room at the special rate. For more details on the hotel's accommodations, please visit seaportboston.com.

      %h4.speaker-detail__subheader About the Speaker
      %p Wicked Good Ruby Conf is going to be held at the Seaport Hotel &amp; World Trade Center in Boston. We recommend staying at their hotel if you are coming from out of town. We have reserved a number of single and double rooms for conference attendees. Be sure to use this link to book your room at the special rate. For more details on the hotel's accommodations, please visit seaportboston.com.
      %a.speaker-detail__website-wrap{href: "#"}
        %span.speaker-detail__website www.darthvaderdesign.com
        &rarr;

%nav.speaker-detail__nav
  .wrap--narrow
    %a.speaker-detail__nav__back{href: "/#speakers"} Back to Full Speaker List
    .speaker-detail__nav__items
      %a.speaker-detail__nav__prev{href: "#"} Previous
      %span.text-divider &nbsp;//
      %a.speaker-detail__nav__next{href: "#"} Next
