%section.speaker-detail-section
  .wrap--narrow
    %h1.speaker-detail__name Katie Gengler
    -#%h2 10/12<span class="text-divider">// </span>Saturday<span class="text-divider">// </span>11:00 am

    .speaker-detail__image-wrap
      .speaker-detail__image.katie-gengler

    .speaker-detail__text-wrap
      %h4.speaker-detail__subheader About the Talk
      %h3.speaker-detail__header  Writing tests for Ember apps: Enjoying the experience
      %p
        Developers often complain that testing is “a necessary evil”. They complain even more about client-side testing. Writing and maintaining a suite of client-side tests does not need to be painful. In this talk, we’ll discuss why testing is *not* evil, and is, in fact, awesome.  I’ll share what I’ve learned that has made my experience with EmberJS testing a pleasant and productive one
      %h4.speaker-detail__subheader About the Speaker
      %p
        Katie is a lifelong web developer focused on the client-side. She is thrilled that client-side development has become more than just “that Javascript stuff.
      %p
        She’s currently the CTO of Funding Gates and previously worked as a consultant, spreading the joy of Ember to her clients.
      %p
        In her free “time", Katie ropes friends and family into working on her crazy projects.
      %a.speaker-detail__website-wrap{href: "http://fundinggates.com", target: '_blank'}
        %span.speaker-detail__website http://fundinggates.com
        &rarr;

%nav.speaker-detail__nav
  .wrap--narrow
    %a.speaker-detail__nav__back{href: "/#speakers"} Back to Full Speaker List
    .speaker-detail__nav__items
      %a.speaker-detail__nav__prev{href: "/luke-melia"} Previous
      %span.text-divider &nbsp;//
      %a.speaker-detail__nav__next{href: "/erik-bryn"} Next
