!!!5
%html
  %head
    %title Wicked Good Ember Conf | Boston's First Ember Conference
    %link{href: "/assets/application.css", rel: "stylesheet"}
    %script{src: "/assets/application.js", type: "text/javascript"}
    %meta{name: "description", content: "Wicked Good Ember Conf is a one-day, one track Ember.js conference held in Boston, Massachusetts"}
    %meta{name: "keywords", content: "ember, javascript, conference"}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0", name: "viewport"}
    /[if lt IE 9]
      <script src='assets/html5shiv.js'></script>
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49095125-1', 'wickedgoodember.com');
    ga('send', 'pageview');

  %body
    %nav.top-nav
      .top-nav__item--logo{aria: {hidden: "true"}, data: {icon: "⌂"}}
        %span.for-screen-reader Wicked Good Conferences
      %a.top-nav__item--club-sandwich{href: "#", aria: {hidden: "true"}, data: {icon: "☰"}}
        %span.for-screen-reader Navigation
      %a.top-nav__item--close-nav{href: "#", aria: {hidden: "true"}, data: {icon: "x"}}
        %span.for-screen-reader Close Navigation
      .top-nav__items
        %a.top-nav__item{href: "/"} Home
        %a.top-nav__item{href: "/schedule"} Schedule
        %a.top-nav__item{href: "https://ti.to/wicked-good/ember-2014", target: "_blank"} Register
        %a.top-nav__social{href: "https://twitter.com/WickedGoodEmber", target: "_blank", aria: {hidden: "true"}, data: {icon: "#"}}
          %span.for-screen-reader Twitter

    %section.main
      = yield

      .footer-has-carrot
      %footer
        .wrap
          %section.footer__sponsors-wrap#sponsors
            .subheader-wrap
              %i.subheader-has-lines
                %span.subheader--white A Very Special Thank You
            %h1.section__header Sponsors

            .footer__sponsors
              .subheader-wrap
                %i.subheader-has-lines
                  %span.subheader--gray Very Good Sponsor
              .footer__sponsors__logos
                %a.footer__sponsors__logo__link{href: "https://www.fundinggates.com/", target: "_blank"}
                  %img.footer__sponsors__logo{src: "/sponsors/funding-gates.png"}

              .subheader-wrap
                %i.subheader-has-lines
                  %span.subheader--gray Kinda Good Sponsors

              .footer__sponsors__logos
                %a.footer__sponsors__logo__link--third{href: "http://www.201-created.com/", target: "_blank"}
                  %img.footer__sponsors__logo{src: "/sponsors/201-created.png"}
                %a.footer__sponsors__logo__link--third{href: "http://www.cerebris.com/", target: "_blank"}
                  %img.footer__sponsors__logo{src: "/sponsors/cerebris.png"}
                %a.footer__sponsors__logo__link--third{href: "http://bocoup.com/", target: "_blank"}
                  %img.footer__sponsors__logo{src: "/sponsors/bocoup.png"}

            %p.wrap--text--center
              If you are interested in sponsoring the conference, please take a look at our
              %a.text-link{href: "/pdfs/prospectus.pdf", target: "_blank"} sponsor prospectus
              for more information.

            .button-wrap
              %a.button{href: "https://docs.google.com/a/dockyard.com/forms/d/1gL2Gglr47w8hzN_piy7wm4-iJ1HoD4PambE0HLJ5pD0/viewform", target: '_blank'} Sponsor Us

          %a.footer__link{href: "http://dockyard.com", target: "_blank"}
            %h4
              %span.footer__link__logo{aria: {hidden: "true"}, data: {icon: "⎈"}}
              This site was designed &amp; developed by DockYard, Inc.
