<main class="l-main" role="main">
  <section class="section l-section lodging">
    <h1 class="t-heading">Lodging</h1>

    <div class="l-narrow t-left">
      <p class="t-text">Below are pictures of the shared dorm rooms on the island. Each room fits 2-6 people. Conference attendees will be placed in rooms based on gender identity.</p>
      <p class="t-text">Clean sheets, blankets, towels, and pillows are provided in each room, and there are pictures of the dorms and rooms below. The dorms also have comfortable lounges where you can hang out with fellow Emberists following daily conference activities.</p>
    </div>

    <div class="lodging__images">
      <img class="l-image lodging__image" src="../2016/lodging/buildings.jpg" alt="Dorm buildings">
      <img class="l-image lodging__image" src="../2016/lodging/dorms-double.jpg" alt="Double dorm room">
      <img class="l-image lodging__image" src="../2016/lodging/common-area.jpg" alt="Dorm common area">
    </div>
  </section>

  <div class="l-narrow">
    <tito-widget event="wicked-good/ember-2016" releases="0tmss-jsfg,0lypygefaym,m97fuq5kehk"></tito-widget>
  </div>
</main>
