%section.speaker-detail-section
  .wrap--narrow
    %h1.speaker-detail__name Luke Melia
    -#%h2 10/12<span class="text-divider">// </span>Saturday<span class="text-divider">// </span>11:00 am

    .speaker-detail__image-wrap
      .speaker-detail__image.luke-melia

    .speaker-detail__text-wrap
      %h4.speaker-detail__subheader About the Talk
      %h3.speaker-detail__header Push patterns with Ember &amp; Ember Data
      %p
        There are few things that feel more magical and powerful in a web app than information that updates live before your eyes. In this talk, we will look at how to architect apps that push data into connected browsers using websockets or similar technology, and specifically how to model this behavior with Ember and Ember Data.
      %p
        Warning: you may want to immediately add similar functionality to your app as soon as you leave this conference. The solutions here are sublimely, joyously elegant -- there are few places where a well-built Ember app shines more brightly than when you add push.

      %h4.speaker-detail__subheader About the Speaker
      %p
        Luke Melia is CTO and co-founder of Yapp &amp; Yapp Labs and was previously CTO at Weplay and Director of Software Development at Oxygen Media. Prior to that, he owned a small software company in Charlottesville, Virginia.
      %p
        Luke is the organizer of the internet-famous Ember.js NYC meetup. He has been working with Ember since the Sproutcore days and has contributed in various ways to Ember including quite a few commits.
      %p
        He enjoys beach volleyball, parkour and teaching his two young daughters how to program Javascript &amp; Ruby.
      %a.speaker-detail__website-wrap{href: "http://www.lukemelia.com", target: '_blank'}
        %span.speaker-detail__website http://www.lukemelia.com
        &rarr;

%nav.speaker-detail__nav
  .wrap--narrow
    %a.speaker-detail__nav__back{href: "/#speakers"} Back to Full Speaker List
    .speaker-detail__nav__items
      %a.speaker-detail__nav__prev{href: "/robert-jackson"} Previous
      %span.text-divider &nbsp;//
      %a.speaker-detail__nav__next{href: "/katie-gengler"} Next
