%section.speaker-detail-section
  .wrap--narrow
    %h1.speaker-detail__name Phil Renaud
    %h2.speaker-detail__datetime 6/17<span class="text-divider">// </span>Tuesday<span class="text-divider">// </span>10:10 am

    .speaker-detail__image-wrap
      .speaker-detail__image.phil-renaud

    .speaker-detail__text-wrap
      %h4.speaker-detail__subheader About the Talk
      %h3.speaker-detail__header Data Visualization with Ember Components and D3.js
      %p
        Learn how to leverage the power of Ember and Ember Data to visualize complex data. Ember's flexibility of components goes a long way toward creating reusable charts in D3.js. Build interfaces that let users interact with, and manipulate, Ember-driven rich data visualizations.
      %h4.speaker-detail__subheader About the Speaker
      %p
        Designer/Developer and startup Co-Founder. I create data visualizations and frameworks with which to use them in Ember.js and D3.js. Perpetually thinking up interfaces.
      %a.speaker-detail__website-wrap{href: "http://riotindustries.com", target: '_blank'}
        %span.speaker-detail__website http://riotindustries.com
        &rarr;

%nav.speaker-detail__nav
  .wrap--narrow
    %a.speaker-detail__nav__back{href: "/#speakers"} Back to Full Speaker List
    .speaker-detail__nav__items
      %a.speaker-detail__nav__prev{href: "/joe-fiorini"} Previous
      %span.text-divider &nbsp;//
      %a.speaker-detail__nav__next{href: "/katie-gengler"} Next
