%section.schedule-section
  %h1.section__header Schedule

  %h2.section__subheader 6/16<span class="text-divider">// </span>Monday
  %ul.schedule__slots
    %li
      %a.schedule__slot-wrap{href: "https://ti.to/wicked-good/ember-2014"}
        .schedule__slot
          %p.schedule__slot__time 9:30 am
          .schedule__slot__image-wrap
            .schedule__slot__icon{data: {icon:"⚒"}}
          .schedule__slot__info-wrap
            %h3.schedule__slot__info Workshop
            %p.text-link A one-day introduction to Ember.js workshop taught by DockYard.

  %h2.section__subheader 6/17<span class="text-divider">// </span>Tuesday
  %ol.schedule__slots
    %li.schedule__slot-wrap
      .schedule__slot
        %p.schedule__slot__time 8:00 am
        .schedule__slot__image-wrap
          .schedule__slot__icon{data: {icon:"✏"}}
          .schedule__slot__icon--under{data: {icon:"✎"}}
        .schedule__slot__info-wrap
          %h3.schedule__slot__info Registration
          %p.schedule__slot__desc Sign in and get yourself prepared for the day&rsquo;s events.

    %li.schedule__slot-wrap
      .schedule__slot
        %p.schedule__slot__time 9:00 am
        .schedule__slot__image-wrap
          .schedule__slot__icon{data: {icon:"✪"}}
        .schedule__slot__info-wrap
          %h3.schedule__slot__info Opening
          %p.schedule__slot__desc A brief introduction to the day&rsquo;s events.

    %li
      %a.schedule__slot-wrap{href: "/joe-fiorini"}
        .schedule__slot
          %p.schedule__slot__time 9:30 am
          .schedule__slot__image-wrap
            %img.schedule__slot__image{src: "/speakers/joe-fiorini.jpg"}
          .schedule__slot__info-wrap
            %h3.schedule__slot__info Joe Fiorini
            %p.text-link Productive Ember Apps with Ember CLI

    %li
      %a.schedule__slot-wrap{href: "/phil-renaud"}
        .schedule__slot
          %p.schedule__slot__time 10:10 am
          .schedule__slot__image-wrap
            %img.schedule__slot__image{src: "/speakers/phil-renaud.jpg"}
          .schedule__slot__info-wrap
            %h3.schedule__slot__info Phil Renaud
            %p.text-link Data Visualization with Ember Components and D3.js

    %li
      %a.schedule__slot-wrap{href: "/katie-gengler"}
        .schedule__slot
          %p.schedule__slot__time 10:50 am
          .schedule__slot__image-wrap
            %img.schedule__slot__image{src: "/speakers/katie-gengler.jpg"}
          .schedule__slot__info-wrap
            %h3.schedule__slot__info Katie Gengler
            %p.text-link Writing tests for Ember apps: Enjoying the experience

    %li
      %a.schedule__slot-wrap{href: "/robert-jackson"}
        .schedule__slot
          %p.schedule__slot__time 11:30 am
          .schedule__slot__image-wrap
            %img.schedule__slot__image{src: "/speakers/robert-jackson.jpg"}
          .schedule__slot__info-wrap
            %h3.schedule__slot__info Robert Jackson
            %p.text-link Ember: The Magic Demystified

    %li.schedule__slot-wrap
      .schedule__slot
        %p.schedule__slot__time 12:10 pm
        .schedule__slot__image-wrap
          .schedule__slot__icon{data: {icon:"⌾"}}
        .schedule__slot__info-wrap
          %h3.schedule__slot__info Catered Lunch

    %li
      %a.schedule__slot-wrap{href: "/dan-gebhardt"}
        .schedule__slot
          %p.schedule__slot__time 1:40 pm
          .schedule__slot__image-wrap
            %img.schedule__slot__image{src: "/speakers/dan-gebhardt.jpg"}
          .schedule__slot__info-wrap
            %h3.schedule__slot__info Dan Gebhardt
            %p.text-link Building Autonomous Web Applications with Ember and Orbit

    %li
      %a.schedule__slot-wrap{href: "/luke-melia"}
        .schedule__slot
          %p.schedule__slot__time 2:20 pm
          .schedule__slot__image-wrap
            %img.schedule__slot__image{src: "/speakers/luke-melia.jpg"}
          .schedule__slot__info-wrap
            %h3.schedule__slot__info Luke Melia
            %p.text-link Push patterns with Ember &amp; Ember Data

    %li.schedule__slot-wrap
      .schedule__slot
        %p.schedule__slot__time 3:00 pm
        .schedule__slot__image-wrap
          .schedule__slot__icon{data: {icon:"⊚"}}
        .schedule__slot__info-wrap
          %h3.schedule__slot__info Snack Break

    %li
      %a.schedule__slot-wrap{href: "/robin-ward"}
        .schedule__slot
          %p.schedule__slot__time 3:30 pm
          .schedule__slot__image-wrap
            %img.schedule__slot__image{src: "/speakers/robin-ward.jpg"}
          .schedule__slot__info-wrap
            %h3.schedule__slot__info Robin Ward
            %p.text-link Creating an Extensible Ember.js Application

    %li
      %a.schedule__slot-wrap{href: "/edward-faulkner"}
        .schedule__slot
          %p.schedule__slot__time 4:10 pm
          .schedule__slot__image-wrap
            %img.schedule__slot__image{src: "/speakers/edward-faulkner.jpg"}
          .schedule__slot__info-wrap
            %h3.schedule__slot__info Edward Faulkner
            %p.text-link Distributed Data for User Experience

    %li
      %a.schedule__slot-wrap{href: "/erik-bryn"}
        .schedule__slot
          %p.schedule__slot__time 4:50 pm
          .schedule__slot__image-wrap
            %img.schedule__slot__image{src: "/speakers/erik-bryn.jpg"}
          .schedule__slot__info-wrap
            %h3.schedule__slot__info Erik Bryn
            %p.text-link Keynote
