<main class="main" role="main">
  <section class="l-details">
    <ul class="speakers">
      <span class="anchor" id="tom-dale"></span>
      <li class="speaker--desc">
        <figure class="speaker">
          <img class="speaker__image" src="2016/speakers/tom-dale.jpg" alt="Tom Dale">
          <figcaption class="speaker__info">
            <h3 class="speaker__heading">Tom Dale</h3>
            <span class="t-text">
              Co-creator of
              <a class="t-link t-blue t-medium" href="http://emberjs.com/" target="_blank">Ember.js</a>
              <span class="speaker__keynote">Keynote</span>
            </span>
          </figcaption>
        </figure>
        <div class="speaker__socials">
          <a class="speaker__social t-link" href="https://twitter.com/@tomdale" title="Visit Tom Dale's Twitter" target="_blank">
            <svg><use xlink:href="#twitter"></svg>
          </a>
        </div>
      </li>
      <span class="anchor" id="chris-mccord"></span>
      <li class="speaker--desc">
        <figure class="speaker">
          <img class="speaker__image" src="2016/speakers/chris-mccord.jpg" alt="Chris McCord">
          <figcaption class="speaker__info">
            <h3 class="speaker__heading">Chris McCord</h3>
            <span class="speaker__intro t-text">
              Architectural Engineer at
              <a class="t-link t-blue t-medium" href="https://dockyard.com/" target="_blank">DockYard</a>
              and Creator of
              <a class="t-link t-blue t-medium" href="http://www.phoenixframework.org/" target="_blank">Phoenix</a>
              <span class="speaker__keynote">Co-Keynote</span>
            </span>
          </figcaption>
        </figure>
        <div class="speaker__socials">
          <a class="speaker__social t-link" href="https://twitter.com/chris_mccord" title="Visit Chris McCord's Twitter" target="_blank">
            <svg><use xlink:href="#twitter"></svg>
          </a>
        </div>
      </li>
      <span class="anchor" id="dan-mcclain"></span>
      <li class="speaker--desc">
        <figure class="speaker">
          <img class="speaker__image" src="2016/speakers/dan-mcclain.jpg" alt="Dan McClain">
          <figcaption class="speaker__info">
            <h3 class="speaker__heading">Dan McClain</h3>
            <span class="speaker__intro t-text">
              Senior JavaScript Engineer at
              <a class="t-link t-blue t-medium" href="https://www.twitch.tv/" target="_blank">Twitch</a>
              <span class="speaker__keynote">Co-Keynote</span>
            </span>
          </figcaption>
        </figure>
        <div class="speaker__socials">
          <a class="speaker__social t-link" href="https://twitter.com/_danmcclain" title="Visit Dan McClain's Twitter" target="_blank">
            <svg><use xlink:href="#twitter"></svg>
          </a>
        </div>
      </li>
      <span class="anchor" id="katie-gengler"></span>
      <li class="speaker--desc">
        <figure class="speaker">
          <img class="speaker__image" src="2016/speakers/katie-gengler.jpg" alt="Katie Gengler">
          <figcaption class="speaker__info">
            <h3 class="speaker__heading">Katie Gengler</h3>
            <span class="speaker__intro t-text">
              Partner at
              <a class="t-link t-blue t-medium" href="http://codeallday.com/" target="_blank">Code All Day</a>
            </span>
          </figcaption>
        </figure>
        <div class="speaker__socials">
          <a class="speaker__social t-link" href="https://twitter.com/@tomdale" title="Visit Tom Dale's Twitter" target="_blank">
            <svg><use xlink:href="#twitter"></svg>
          </a>
        </div>
        <p class="speaker__bio">
          Katie is an experienced web developer and has been using Ember since 2012. In 2015, she started Code All Day Consulting with Michelle Santarsiero. She created and maintains
          <a class="t-link" href="https://emberobserver.com/">EmberObserver.com</a>.
          She is also a member of the
          <a class="t-link" href="http://ember-cli.com/">ember-cli</a>
          core team.
        </p>
        <div class="speaker__talk">
          <h3 class="speaker__talk__title">The Devil is in the Details: Building an Ember Addon the Right Way</h3>
          <p class="t-text">Creating a new Ember addon is as simple as `ember addon my-cool-thing`. But, that’s just the very beginning of the work needed to create a high-quality addon that can be used by the community. We’ll cover the best practices, common gotchas and easily-overlooked decisions that come up when making an addon. To understand creating different types of addons, we’ll look in-depth at three codebases: one addon that extends Ember-CLI, one addon that extends Ember, and one build-tool addon.</p>
        </div>
      </li>
    </ul>
  </section>
</main>
