<section class="section--no-image">
  <ul class="speakers">
    <span class="anchor" id="chris-tse"></span>
    <li class="speaker">
      <img class="speaker__image" alt="Chris Tse" src="speakers/chris-tse.jpg">
      <h3 class="speaker__name">Chris Tse<span class="speaker__name__keynote">(Keynote)</span></h3>
      <h4 class="speaker__position">CardStack</h4>
      <div class="speaker__socials">
        <a class="speaker__social" href="https://twitter.com/christse" title="Visit Chris Tse's Twitter" target="_blank">
          <svg viewBox="0 45 15 15">
            <use xlink:href="icons--shared.svg#twitter"></use>
          </svg>
        </a>
      </div>
    </li>
    <span class="anchor" id="mike-north"></span>
    <li class="speaker">
      <img class="speaker__image" alt="Mike North" src="speakers/mike-north.jpg">
      <h3 class="speaker__name">Mike North</h3>
      <h4 class="speaker__position">Yahoo</h4>
      <div class="speaker__socials">
        <a class="speaker__social" href="https://github.com/truenorth" title="Visit Mike North's GitHub" target="_blank">
          <svg viewBox="0 30 15 15">
            <use xlink:href="icons--shared.svg#github"></use>
          </svg>
        </a>
        <a class="speaker__social" href="https://twitter.com/michaellnorth" title="Visit Mike North's Twitter" target="_blank">
          <svg viewBox="0 45 15 15">
            <use xlink:href="icons--shared.svg#twitter"></use>
          </svg>
        </a>
      </div>
      <p class="speaker__desc">Mike is a full stack developer who has been writing software for 15 years, and has worked with a variety of languages and frameworks including Java, Ruby on Rails and Ember.js. Mike is a Principal Engineer and UI Engineering Lead for Yahoo's Ads & Data group, and is an advisor and evangelist for modern web development throughout Yahoo.</p>
      <div class="speaker__talk">
        <h3 class="speaker__talk__title">Compose all the things</h3>
        <p class="t-text">As ember is being used for the foundation of even more ambitious web applications, the appeal of leveraging less code to do more has grown. Keeping composability in mind will allow teams to effectively build their own layers of &ldquo;boilerplate&rdquo; on top of the framework, and build apps high quality and velocity.</p>
        <p class="t-text">In this talk, we’ll dive into composable components, computed property macros and tests to explore how investment in generic code can pay off in terms of high degrees of maintainability, testability and extensibility.</p>
      </div>
    </li>
    <span class="anchor" id="jay-phelps"></span>
    <li class="speaker">
      <img class="speaker__image" alt="Jay Phelps" src="speakers/jay-phelps.jpg">
      <h3 class="speaker__name">Jay Phelps</h3>
      <h4 class="speaker__position">Netflix</h4>
      <div class="speaker__socials">
        <a class="speaker__social" href="https://github.com/jayphelps" title="Visit Jay Phelps's GitHub" target="_blank">
          <svg viewBox="0 30 15 15">
            <use xlink:href="icons--shared.svg#github"></use>
          </svg>
        </a>
        <a class="speaker__social" href="https://twitter.com/_jayphelps" title="Visit Jay Phelps's Twitter" target="_blank">
          <svg viewBox="0 45 15 15">
            <use xlink:href="icons--shared.svg#twitter"></use>
          </svg>
        </a>
      </div>
      <p class="speaker__desc">Senior Front End Engineer at Netflix. Loves code, hates condiments.</p>
      <div class="speaker__talk">
        <h3 class="speaker__talk__title">Graffiti: The Coveted Universal Web Component Format</h3>
        <p class="t-text">We love Ember, but wouldn't it be great if the components we want or create were host framework agnostic? W3C Web Components aims to do this, but it&rsquo;s missing a large part of the story. Graffiti fills in these gaps using HTMLBars, ES6/7++ syntax to let you experience the future, now. Kumbaya, all the frameworks can now hold hands.</p>
      </div>
    </li>
    <span class="anchor" id="estelle-deblois"></span>
    <li class="speaker">
      <img class="speaker__image" alt="Estelle DeBlois" src="speakers/estelle-deblois.jpg">
      <h3 class="speaker__name">Estelle DeBlois</h3>
      <h4 class="speaker__position">DockYard</h4>
      <div class="speaker__socials">
        <a class="speaker__social" href="https://github.com/brzpegasus" title="Visit Estelle Deblois's GitHub" target="_blank">
          <svg viewBox="0 30 15 15">
            <use xlink:href="icons--shared.svg#github"></use>
          </svg>
        </a>
        <a class="speaker__social" href="https://twitter.com/edeblois" title="Visit Estelle Deblois's Twitter" target="_blank">
          <svg viewBox="0 45 15 15">
            <use xlink:href="icons--shared.svg#twitter"></use>
          </svg>
        </a>
      </div>
      <p class="speaker__desc">Estelle is an avid developer who loves all things Ember. She quit Java four years ago after finding her calling with JavaScript and single-page applications. She is now happily employed at DockYard.</p>
      <div class="speaker__talk">
        <h3 class="speaker__talk__title">Build Better Desktop Apps with Ember</h3>
        <p class="t-text">Ember.js describes itself as a framework for creating ambitious web applications. But &ldquo;ambitious&rdquo; doesn&rsquo;t have to stop at the boundaries of the web world.</p>
        <p class="t-text">Projects such as NW.js have shown that it was possible to write cross-platform desktop applications using web technologies. NW.js goes even further, letting you interact with Node modules directly in the browser. But here&rsquo;s the catch: without proper guards and good code organization, issues can arise quickly, leaving you fighting your way through an environment where Node and browser contexts don&rsquo;t always play well together.</p>
        <p class="t-text">In this talk, we will explore some of the challenges you may face, and how you can overcome them with simple tools and techniques. You don&rsquo;t have to look very far for answers. Ember and Ember CLI provide just the right hooks to make desktop applications a breeze to develop and test.</p>
      </div>
    </li>
    <span class="anchor" id="adolfo-builes"></span>
    <li class="speaker">
      <img class="speaker__image" alt="Adolfo Builes" src="speakers/adolfo-builes.jpg">
      <h3 class="speaker__name">Adolfo Builes</h3>
      <h4 class="speaker__position">Envoy</h4>
      <div class="speaker__socials">
        <a class="speaker__social" href="https://github.com/abuiles" title="Visit Adolfo Builes's GitHub" target="_blank">
          <svg viewBox="0 30 15 15">
            <use xlink:href="icons--shared.svg#github"></use>
          </svg>
        </a>
        <a class="speaker__social" href="https://twitter.com/abuiles" title="Visit Adolfo Builes's Twitter" target="_blank">
          <svg viewBox="0 45 15 15">
            <use xlink:href="icons--shared.svg#twitter"></use>
          </svg>
        </a>
      </div>
      <p class="speaker__desc">I work as independent consultant helping people build web products with Ember. When I don&rsquo;t reply to a IRC ping within minutes it might be because I&rsquo;m chasing cats through Colombia&rsquo;s mountains or trying to play my guitar. I&rsquo;m also the author of the Ember book Ember CLI 101 and contribute to different open source projects mostly related with Ember.</p>
      <div class="speaker__talk">
        <h3 class="speaker__talk__title">Writing code to update our code</h3>
        <p class="t-text">After upgrading Ember we might have times where we start to receive warnings about things that we should update in our code because of deprecations.</p>
        <p class="t-text">We can write scripts with tools like sed or Perl to fix our code but, when we are working with multiple teams and projects, we can see that those scripts start to fail or are not easy to maintain.</p>
        <p class="t-text">In this talk we&rsquo;ll cover a different approach to update our code through direct operations on its abstract syntax tree (AST) using recast and how to distribute our solutions as addons so they can be used by other teams.</p>
        <p class="t-text">Specifically we&rsquo;ll see how AST transform are used for scenarios like:</p>
        <p class="t-text">- Route generation in ember-cli</p>
        <p class="t-text">- Update QUnit tests via <a class="t-link" href="https://github.com/abuiles/ember-watson" title="Visit Ember Watson Github">ember-watson</a></p>
        <p class="t-text">- Upgrade Ember-Data deprecations</p>
      </div>
    </li>
    <span class="anchor" id="john-kleinschmidt"></span>
    <li class="speaker">
      <img class="speaker__image" alt="John Kleinschmidt" src="speakers/john-kleinschmidt.jpg">
      <h3 class="speaker__name">John Kleinschmidt</h3>
      <h4 class="speaker__position">Cure</h4>
      <div class="speaker__socials">
        <a class="speaker__social" href="https://github.com/jkleinsc" title="Visit John Kleinschmidt's GitHub" target="_blank">
          <svg viewBox="0 30 15 15">
            <use xlink:href="icons--shared.svg#github"></use>
          </svg>
        </a>
        <a class="speaker__social" href="https://twitter.com/jkleinsc" title="Visit John Kleinschmidt's Twitter" target="_blank">
          <svg viewBox="0 45 15 15">
            <use xlink:href="icons--shared.svg#twitter"></use>
          </svg>
        </a>
      </div>
      <p class="speaker__desc">John Kleinschmidt is the lead developer for HospitalRun, an open source project to provide modern software for charitable hospitals in the developing world. John works at CURE International as the Director of Technology Development. John hails from Harrisburg, PA where he lives with his wife and 3 kids.</p>
      <div class="speaker__talk">
        <h3 class="speaker__talk__title">Taking Ember Offline</h3>
        <p class="t-text">Millions of web apps are silently suffering and you can help. These web apps are dying because they don&rsquo;t have the means to work offline. You can end the suffering today. Your Ember apps can have a brighter future by using features like Application Cache, offline storage and Service Workers.</p>
        <p class="t-text">In this session we will explore what it takes to build an offline-first Ember app by examining an open source Ember project built to run in locations lacking stable Internet like parts of Africa and Southeast Asia.</p>
      </div>
    </li>
    <span class="anchor" id="nathan-hammond"></span>
    <li class="speaker">
      <img class="speaker__image" alt="Nathan Hammond" src="speakers/nathan-hammond.jpg">
      <h3 class="speaker__name">Nathan Hammond</h3>
      <h4 class="speaker__position">LinkedIn</h4>
      <div class="speaker__socials">
        <a class="speaker__social" href="https://github.com/nathanhammond" title="Visit Nathan Hammond's GitHub" target="_blank">
          <svg viewBox="0 30 15 15">
            <use xlink:href="icons--shared.svg#github"></use>
          </svg>
        </a>
        <a class="speaker__social" href="https://twitter.com/nathanhammond" title="Visit Nathan Hammond's Twitter" target="_blank">
          <svg viewBox="0 45 15 15">
            <use xlink:href="icons--shared.svg#twitter"></use>
          </svg>
        </a>
      </div>
      <p class="speaker__desc">Nathan has spent many-a-night trying to figure out how to most effectively accomplish his world domination plans and believes he has finally &ldquo;cracked the nut.&rdquo; Spoiler alert, the solution is &ldquo;use Ember.&rdquo; He recently signed up for a tour of duty with LinkedIn, accomplishing that which must seemingly be done at least once in a career: moving to the Silicon Valley. If you&rsquo;re bored ask Nathan about politics. You might still be bored, but at least there won&rsquo;t be that awkward silence anymore.</p>
      <div class="speaker__talk">
        <h3 class="speaker__talk__title">Building for Accessibility</h3>
        <p class="t-text">The advent of JavaScript applications means that we need to make sure we evolve our thinking on how to develop accessible experiences on top of the web platform. Just as we no longer design static visual experiences and instead plan for motion in our applications we also need to spend the same intentionality designing and building experiences for users of assistive technology.</p>
        <p class="t-text">You&rsquo;ll leave this talk with a few techniques you can bring to your applications tomorrow and hopefully a new approach to thinking about building web applications.</p>
      </div>
    </li>
    <span class="anchor" id="stefan-penner"></span>
    <li class="speaker">
      <img class="speaker__image" alt="Stefan Penner" src="speakers/stefan-penner.jpg">
      <h3 class="speaker__name">Stefan Penner</h3>
      <h4 class="speaker__position">Yahoo</h4>
      <div class="speaker__socials">
        <a class="speaker__social" href="https://github.com/stefanpenner" title="Visit Stefan Penner's GitHub" target="_blank">
          <svg viewBox="0 30 15 15">
            <use xlink:href="icons--shared.svg#github"></use>
          </svg>
        </a>
        <a class="speaker__social" href="https://twitter.com/stefanpenner" title="Visit Stefan Penner's Twitter" target="_blank">
          <svg viewBox="0 45 15 15">
            <use xlink:href="icons--shared.svg#twitter"></use>
          </svg>
        </a>
      </div>
      <p class="speaker__desc">Longboarding Canadian, OSS addict, Ember.js core team member, living in San Jose and working at Yahoo.</p>
      <div class="speaker__talk">
        <h3 class="speaker__talk__title">The observer tip-jar</h3>
        <p class="t-text">As an ember developer, we have a large collection of tools at our disposal. Sometimes it is tricky to know what the best tool is for a given task.</p>
        <p class="t-text">Likely one of the most problematic ambiguities comes from the pair computed properties and observers. Existing ember docs and guides treat these concepts as equal pairs. It is even common for established ember developers to have details of the two confused.</p>
        <p class="t-text">This talk aims to clear up the confusion and demonstrate the blissful joy of an (nearly) observer free world.</p>
      </div>
    </li>
    <span class="anchor" id="igor-terzic"></span>
    <li class="speaker">
      <img class="speaker__image" alt="Igor Terzic" src="speakers/igor-terzic.jpg">
      <h3 class="speaker__name">Igor Terzic</h3>
      <h4 class="speaker__position">Consulting</h4>
      <div class="speaker__socials">
        <a class="speaker__social" href="https://github.com/igorT" title="Visit Igor Terzic's GitHub" target="_blank">
          <svg viewBox="0 30 15 15">
            <use xlink:href="icons--shared.svg#github"></use>
          </svg>
        </a>
        <a class="speaker__social" href="https://twitter.com/terzicigor" title="Visit Igor Terzic's Twitter" target="_blank">
          <svg viewBox="0 45 15 15">
            <use xlink:href="icons--shared.svg#twitter"></use>
          </svg>
        </a>
      </div>
      <p class="speaker__desc">Ember Data maintainer, member of the Ember.js core team, consultant, hacker and backpacker.</p>
      <div class="speaker__talk">
        <h3 class="speaker__talk__title">Ember Data 1.0 - it&rsquo;s here</h3>
        <p class="t-text">Ember Data 1.0rc ships June 12th. json:api shipped May 21st. Ember 2.0 ships June 12th. Wicked Good Ember is June 16th.</p>
        <p class="t-text">How do all of these fit together?</p>
        <p class="t-text">This talk at Wicked Good Ember is going to show off all the new goodness in Ember Data 1.0, how Ember Data and json:api work together, and how Ember Data fits in the new Ember 2.0 world.</p>
      </div>
    </li>
  </ul>
</section>
