<main class="main" role="main">
  <section class="l-section">
    <ul class="speakers">
      <span class="anchor" id="tom-dale"></span>
      <li class="speaker">
        <figure>
          <img class="speaker__image" src="2016/speakers/tom-dale.jpg" alt="Tom Dale">
          <figcaption class="speaker__info">
            <h3 class="t-subheading">Tom Dale</h3>
            <span class="speaker__position">
              Co-creator of
              <a class="t-link t-blue" href="http://emberjs.com/" target="_blank">Ember.js</a>
            </span>
            <span class="speaker__keynote t-text">Keynote</span>
          </figcaption>
        </figure>
        <div class="speaker__socials">
          <a class="speaker__social t-link" href="https://twitter.com/tomdale" title="Visit Tom Dale's Twitter" target="_blank">
            <svg><use xlink:href="#twitter"></svg>
          </a>
        </div>
      </li>
      <span class="anchor" id="chris-mccord"></span>
      <li class="speaker">
        <figure>
          <img class="speaker__image" src="2016/speakers/chris-mccord.jpg" alt="Chris McCord">
          <figcaption class="speaker__info">
            <h3 class="t-subheading">Chris McCord</h3>
            <span class="speaker__position">
              <a class="t-link t-blue" href="https://dockyard.com/" target="_blank">DockYard</a>
            </span>
            <span class="speaker__keynote t-text">Co-Keynote</span>
          </figcaption>
        </figure>
        <div class="speaker__socials">
          <a class="speaker__social t-link" href="https://twitter.com/chris_mccord" title="Visit Chris McCord's Twitter" target="_blank">
            <svg><use xlink:href="#twitter"></svg>
          </a>
        </div>
      </li>
      <span class="anchor" id="dan-mcclain"></span>
      <li class="speaker">
        <figure>
          <img class="speaker__image" src="2016/speakers/dan-mcclain.jpg" alt="Dan McClain">
          <figcaption class="speaker__info">
            <h3 class="t-subheading">Dan McClain</h3>
            <span class="speaker__position">
              <a class="t-link t-blue" href="https://www.twitch.tv/" target="_blank">Twitch</a>
            </span>
            <span class="speaker__keynote t-text">Co-Keynote</span>
          </figcaption>
        </figure>
        <div class="speaker__socials">
          <a class="speaker__social t-link" href="https://twitter.com/_danmcclain" title="Visit Dan McClain's Twitter" target="_blank">
            <svg><use xlink:href="#twitter"></svg>
          </a>
        </div>
      </li>
      <span class="anchor" id="gaurav-munjal"></span>
      <li class="speaker">
        <figure>
          <img class="speaker__image" src="2016/speakers/gaurav-munjal.jpg" alt="Gaurav Munjal">
          <figcaption class="speaker__info">
            <h3 class="t-subheading">Gaurav Munjal</h3>
            <span class="speaker__position">
              <a class="t-link t-blue" href="http://www.hedgeserv.com/" target="_blank">Hedgeserv</a>
            </span>
          </figcaption>
        </figure>
        <div class="speaker__socials">
          <a class="speaker__social t-link" href="https://twitter.com/gaurav9576" title="Visit Gaurav Munjal's Twitter" target="_blank">
            <svg><use xlink:href="#twitter"></svg>
          </a>
        </div>
        <p class="speaker__bio">
          Gaurav Munjal is a Sr. Front End Engineer at Hedgeserv and a maintainer of the
          <a class="t-link" href="https://ember-twiddle.com/">Ember Twiddle</a>
          website.
        </p>
        <div class="speaker__talk">
          <h3 class="speaker__talk__title">Test Driven Development in Ember Twiddle</h3>
          <p class="t-text">Now that Ember Twiddle supports tests, watch how you can easily do test first development with Ember Twiddle. This is extremely useful for practice your next coding interview. Also shown will be a step by step tutorial of Ember itself using the new revision feature.</p>
        </div>
      </li>
      <span class="anchor" id="katie-gengler"></span>
      <li class="speaker">
        <figure>
          <img class="speaker__image" src="2016/speakers/katie-gengler.jpg" alt="Katie Gengler">
          <figcaption class="speaker__info">
            <h3 class="t-subheading">Katie Gengler</h3>
            <span class="speaker__position">
              <a class="t-link t-blue" href="http://codeallday.com/" target="_blank">Code All Day</a>
            </span>
          </figcaption>
        </figure>
        <div class="speaker__socials">
          <a class="speaker__social t-link" href="https://twitter.com/katiegengler" title="Visit Katie Gengler's Twitter" target="_blank">
            <svg><use xlink:href="#twitter"></svg>
          </a>
        </div>
        <p class="speaker__bio">
          Katie is an experienced web developer and has been using Ember since 2012. In 2015, she started Code All Day Consulting with Michelle Santarsiero. She created and maintains
          <a class="t-link" href="https://emberobserver.com/">EmberObserver.com</a>.
          She is also a member of the
          <a class="t-link" href="http://ember-cli.com/">ember-cli</a>
          core team.
        </p>
        <div class="speaker__talk">
          <h3 class="speaker__talk__title">The Devil is in the Details: Building an Ember Addon the Right Way</h3>
          <p class="t-text">Creating a new Ember addon is as simple as `ember addon my-cool-thing`. But, that’s just the very beginning of the work needed to create a high-quality addon that can be used by the community. We’ll cover the best practices, common gotchas and easily-overlooked decisions that come up when making an addon. To understand creating different types of addons, we’ll look in-depth at three codebases: one addon that extends Ember-CLI, one addon that extends Ember, and one build-tool addon.</p>
        </div>
      </li>
      <span class="anchor" id="liz-baillie"></span>
      <li class="speaker">
        <figure>
          <img class="speaker__image" src="2016/speakers/liz-baillie.jpg" alt="Liz Baillie">
          <figcaption class="speaker__info">
            <h3 class="t-subheading">Liz Baillie</h3>
            <span class="speaker__position">
              <a class="t-link t-blue" href="http://www.tilde.io" target="_blank">Tilde</a>
            </span>
          </figcaption>
        </figure>
        <div class="speaker__socials">
          <a class="speaker__social t-link" href="https://twitter.com/infinite_math" title="Visit Liz Baillie's Twitter" target="_blank">
            <svg><use xlink:href="#twitter"></svg>
          </a>
        </div>
        <p class="speaker__bio">
          Former award-losing cartoonist, current staff engineer at Tilde, future sassy old woman with too many dogs.
        </p>
        <div class="speaker__talk">
          <h3 class="speaker__talk__title">Journey to the Center of Ember Test Helpers</h3>
          <p class="t-text">Those Ember test helpers sure are great, aren’t they? Ever wonder what’s going on under the hood to make these helpers so… helpful? Come, join me on an epic journey to uncover the secrets (and not-so-secrets) of our friendly neighborhood Ember test helpers!</p>
        </div>
      </li>
      <span class="anchor" id="philip-poots"></span>
      <li class="speaker">
        <figure>
          <img class="speaker__image" src="2016/speakers/philip-poots.jpg" alt="Philip Poots">
          <figcaption class="speaker__info">
            <h3 class="t-subheading">Philip Poots</h3>
            <span class="speaker__position">
              <a class="t-link t-blue" href="http://www.elmbark.com/" target="_blank">Elm Bark</a>
            </span>
          </figcaption>
        </figure>
        <div class="speaker__socials">
          <a class="speaker__social t-link" href="https://twitter.com/pootsbook" title="Visit Philip Poots' Twitter" target="_blank">
            <svg><use xlink:href="#twitter"></svg>
          </a>
        </div>
        <p class="speaker__bio">
          Philip is a failed Ember.js developer. He scaled the learning curve only to fall further down, every plateau was greeted by another summit. From startup developer to independent consultant to unemployed, he has been plying his trade for six years with the goal of building things fast and well which drew him first to Rails and then Ember.
        </p>
        <p class="speaker__bio">
          He hails from the land where they film Game of Thrones (Northern Ireland), but has ended up in a flatter world (The Netherlands) so he can be close to an international airport that actually flies internationally. For things like Wicked Good Ember. He is comfortable flying into a headwind.
        </p>
        <div class="speaker__talk">
          <h3 class="speaker__talk__title">Elmber</h3>
          <p class="t-text">Can you out-Ember Ember? Productivity, developer ergonomics, eliminating trivial choices, friendly APIs, dramatically less code, better primitives, productive out of the box?</p>
          <p class="t-text">JavaScript is often accused as the source of Ember’s worst ills and thus conveniently side-steps responsibility for the challenges that every developer faces when picking up and using Ember. Indeed much of the Ember ecosystem is like a giant JavaScript workaround. What if someone wasn’t satisfied with that excuse?</p>
          <p class="t-text">Elm has a way to go, but it already offers a vision for a more stable and sustainable future. Learn how decades of programming language research combine with a philosophy much like Ember’s to offer a superlative developer experience.</p>
        </div>
      </li>
    </ul>
  </section>
</main>
