<main class="l-main show__workshop" role="main">
  <section class="section l-section">
    <h2 class="t-heading">Advanced Ember.js</h2>
    <div class="l-narrow index__speakers">
      <figure class="speaker--joint">
        <img class="speaker__image" src="../2016/speakers/mike-north.jpg" alt="Mike North">
        <figcaption class="speaker__info">
          <h3 class="t-subheading">Mike North</h3>
          <span class="speaker__position">
            <a class="t-link t-blue" href="http://www.levantofinancial.com/" target="_blank">Levanto</a>
          </span>
        </figcaption>
        <div class="speaker__socials">
          <a class="speaker__social t-link" href="https://twitter.com/tomdale" title="Visit Tom Dale's Twitter" target="_blank">
            <svg><use xlink:href="#twitter"></svg>
          </a>
        </div>
      </figure>
      <figure class="speaker--joint">
        <img class="speaker__image" src="../2016/speakers/stefan-penner.jpg" alt="Stefan Penner">
        <figcaption class="speaker__info">
          <h3 class="t-subheading">Stefan Penner</h3>
          <span class="speaker__position">
            <a class="t-link t-blue" href="https://www.yahoo.com/" target="_blank">Yahoo</a>
          </span>
        </figcaption>
        <div class="speaker__socials">
          <a class="speaker__social t-link" href="https://twitter.com/stefanpenner" title="Visit Stefan Penner's Twitter" target="_blank">
            <svg><use xlink:href="#twitter"></svg>
          </a>
        </div>
      </figure>
      <p class="speaker__bio">
        Getting a taste of Ember.js is easier now than ever, with several books, video courses, tutorials and group classes easily available. However, there’s a big difference between knowing how to build a component, and knowing how to build a product using Ember.js.
      </p>
      <h3 class="speaker__talk__title t-left">In this course, we’ll go deeper than ever before.</h3>
      <ul class="speaker__talk">
        <li class="t-text">We’ll explain how things work under the hood in several important areas like routing, ember-data, and component rendering. By understanding the architecture of Ember, you’ll be in a better position to align your app’s architecture with it.</li>
        <li class="t-text">We’ll work with the latest features &amp; tools, including ember-fastboot. Want to know what you’ll need to do to your app in order to make it “Fastboot-ready”? We’ll cover that!</li>
        <li class="t-text">What about all of the things around your app like deployment and  continuious integration? In less than 30 minutes we’ll set up a full CI/CD pipeline, complete with Slack notifications for new pull requests.</li>
        <li class="t-text">We’ll cover conceptual models for large-scale UI architecture. Whether you’re a team of 3 or a team of 300, knowing how to separate your app into addons and engines can make the difference between efficiently working in parallel, and being choked by bottlenecks and accidental coupling between parts of your system.</li>
      </ul>
      <h3 class="speaker__talk__title t-left">Prerequisites (you must have one of the following):</h3>
      <ul class="speaker__talk">
        <li class="t-text">3+ Months working with ember on a project of reasonable scale and complexity (i.e., 20+ components)</li>
        <li class="t-text">Complete a basic full-day Ember.js workshop</li>
        <li class="t-text">
          Complete the
          <a class="t-link" href="https://frontendmasters.com/courses/ember-2/">Ember.js 2.x video course on Frontend Masters</a>.
          We have a limited number of complimentary memberships available, so if you’re new to Ember, please let us know and we’ll try to set you up with one.</li>
      </ul>
      <tito-widget event="wicked-good/ember-2016" releases="w71fpl8q1wm"></tito-widget>
    </div>
  </section>
</main>
