<main class="l-main show__workshop" role="main">
  <section class="section l-section">
    <h2 class="t-heading">Contributor Workshop</h2>
    <h3 class="t-subheading">Sunday 6/26 7:00 PM - 10:00 PM</h2>
    <div class="l-narrow index__speakers">
      <figure class="speaker">
        <img class="speaker__image" src="../2016/speakers/matthew-beale.jpg" alt="Matthew Beale">
        <figcaption class="speaker__info">
          <h3 class="t-subheading">Matthew Beale</h3>
          <span class="speaker__position">
            <a class="t-link t-blue" href="http://www.201-created.com/" target="_blank">201 Created</a>
          </span>
        </figcaption>
        <div class="speaker__socials">
          <a class="speaker__social t-link" href="https://twitter.com/mixonic" title="Visit Matthew Beale's Twitter" target="_blank">
            <svg><use xlink:href="#twitter"></svg>
          </a>
        </div>
      </figure>
      <p class="speaker__bio">
        Join us after dinner on Sunday evening to work on Ember and OSS contribution. Members of the Ember Core Team and 201 Created will be on hand to help you land your first PR or just your latest!
        <span class="t-medium">*Please note that this workshop is only available to people staying overnight on Thompson Island.*</span>
      </p>
      <ul class="speaker__talk">
        <li class="t-text">Join us in #wge-workshop on Slack</li>
        <li class="t-text">7:00 PM - Intro</li>
        <li class="t-text">7:20 PM - Hacking</li>
        <li class="t-text">9:45 PM - Wrap-up</li>
      </ul>
      <tito-widget event="wicked-good/ember-2016" releases="kny17sdv-t0"></tito-widget>
    </div>
  </section>
</main>
