%section.speaker-detail-section
  .wrap--narrow
    %h1.speaker-detail__name Erik Bryn
    %h2.speaker-detail__datetime 6/17<span class="text-divider">// </span>Tuesday<span class="text-divider">// </span>4:50 pm

    .speaker-detail__image-wrap
      .speaker-detail__image.erik-bryn

    .speaker-detail__text-wrap
      %h4.speaker-detail__subheader About the Talk
      %h3.speaker-detail__header Keynote

      %h4.speaker-detail__subheader About the Speaker
      %p
        Erik has been working on Ember.js since its inception and is a member of the Ember.js core team. He's spent the last few years helping companies like Netflix, Mozilla, Square, Zendesk, Zoho and LiveNation build and optimize their Ember applications.
      %a.speaker-detail__website-wrap{href: "http://prototypal.io"}
        %span.speaker-detail__website http://prototypal.io
        &rarr;

%nav.speaker-detail__nav
  .wrap--narrow
    %a.speaker-detail__nav__back{href: "/2014#speakers"} Back to Full Speaker List
    .speaker-detail__nav__items
      %a.speaker-detail__nav__prev{href: "/2014/edward-faulkner"} Previous
      %span.text-divider &nbsp;//
      %a.speaker-detail__nav__next{href: "/2014/joe-fiorini"} Next
