%section.speaker-detail-section
  .wrap--narrow
    %h1.speaker-detail__name Joe Fiorini
    %h2.speaker-detail__datetime 6/17<span class="text-divider">// </span>Tuesday<span class="text-divider">// </span>9:30 am

    .speaker-detail__image-wrap
      .speaker-detail__image.joe-fiorini

    .speaker-detail__text-wrap
      %h4.speaker-detail__subheader About the Talk
      %h3.speaker-detail__header Productive Ember Apps with Ember CLI
      %p
        The nature of how we build web applications is changing. We’re increasingly moving UI code to the client, with a server-side API for interacting with data. However, server-side frameworks still treat client-side code as an afterthought.
        ember-cli is a new tool that enables you to productively build Ember apps regardless of the server-side technology you are using. This talk showcases the complex parts of building Ember apps and how you can use ember-cli to make your life easier.

      %h4.speaker-detail__subheader About the Speaker
      %p
        Joe is a developer with the heart of a designer. He usually codes in JavaScript or Ruby. He created Half Pipe and has contributed to many open source projects and is an active contributor to ember-cli. In the evenings he can be found usability testing everything in the house with his 2 year old daughter.
      %a.speaker-detail__website-wrap{href: "http://joefiorini.com"}
        %span.speaker-detail__website http://joefiorini.com
        &rarr;

%nav.speaker-detail__nav
  .wrap--narrow
    %a.speaker-detail__nav__back{href: "/2014#speakers"} Back to Full Speaker List
    .speaker-detail__nav__items
      %a.speaker-detail__nav__prev{href: "/2014/erik-bryn"} Previous
      %span.text-divider &nbsp;//
      %a.speaker-detail__nav__next{href: "/2014/phil-renaud"} Next
