%section.speaker-detail-section
  .wrap--narrow
    %h1.speaker-detail__name Robert Jackson
    %h2.speaker-detail__datetime 6/17<span class="text-divider">// </span>Tuesday<span class="text-divider">// </span>11:30 am

    .speaker-detail__image-wrap
      .speaker-detail__image.robert-jackson

    .speaker-detail__text-wrap
      %h4.speaker-detail__subheader About the Talk
      %h3.speaker-detail__header Ember: The Magic Demystified
      %p
        Ember does many things for you automatically.  This seems like magic to most folks as they get started with the framework. This talk will walk you through some of the &ldquo;mysterious and magical&rdquo; internals to dispel the notion that magic exists at all.
      %h4.speaker-detail__subheader About the Speaker
      %p
        Robert has plied his trade as a professional developer for more than fifteen years. Starting with VB, C#, and Java code, Robert made the transition to Ruby and eventually to Rails in 2006. Since then, he has become a part of the Ember Core Team and a Senior Developer at DockYard.
      %a.speaker-detail__website-wrap{href: "http://dockyard.com", target: '_blank'}
        %span.speaker-detail__website http://dockyard.com
        &rarr;

%nav.speaker-detail__nav
  .wrap--narrow
    %a.speaker-detail__nav__back{href: "/2014#speakers"} Back to Full Speaker List
    .speaker-detail__nav__items
      %a.speaker-detail__nav__prev{href: "/2014/katie-gengler"} Previous
      %span.text-divider &nbsp;//
      %a.speaker-detail__nav__next{href: "/2014/dan-gebhardt"} Next
