.ctas {
  padding-top: 25px;
  padding-bottom: 25px;
  @media (max-width: 799px) {
    margin-bottom: 36px;
  }
  @media (min-width: 800px) and (max-width: 1199px) {
    margin-bottom: 72px;
  }
  @media (min-width: 1200px) {
    margin-top: -336px;
    margin-bottom: 300px;
    overflow: auto;
    background-color: $blue;
  }
}

.cta {
  display: block;
  border: 5px solid $white;
  background-color: rgba($white, .1);
  font-weight: $xbold;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  @media (max-width: 1199px) {
    margin-right: auto;
    margin-left: auto;
    width: 86%;
    max-width: 320px;
    font-size: 24px;
    line-height: 70px;
  }
  @media (min-width: 1200px) {
    font-size: 27px;
  }

  .header &:first-child,
  .section--r & {
    @media (min-width: 1200px) {
      float: left;
    }
  }

  .header &:last-child,
  .section--l & {
    @media (min-width: 1200px) {
      float: right;
    }
  }

  .header &:first-child {
    @media (min-width: 1200px) {
      margin-left: 40px;
      text-align: right;
    }
  }

  .header &:last-child {
    @media (min-width: 1200px) {
      margin-right: 40px;
    }
  }

  .header & {
    position: relative;
    width: 370px;
    @media (max-width: 1199px) {
      margin-bottom: 18px;
    }
    @media (min-width: 1200px) {
      line-height: 90px;
    }
  }

  .section & {
    @media (min-width: 1200px) {
      position: absolute;
      top: calc(50% - 60px);
    }
  }

  .section--r & {
    @media (min-width: 1200px) {
      left: 6px;
    }
  }
  .section--l & {
    @media (min-width: 1200px) {
      right: 20px;
    }
  }
}

.cta[href] {
  opacity: 1;
  @include transition-duration(.25s);
  @include transition-property(background-color, color);
  &:hover {
    background-color: $white;
    color: $blue;
    .cta__svg {
      fill: $blue;
    }
  }
}

.cta {
  opacity: .5;
}

.cta__heading {
  .section & {
    @media (min-width: 1200px) {
      display: inline-block;
      width: 300px;
      line-height: 90px;
    }
  }

  .section--l & {
    @media (min-width: 1200px) {
      float: left;
    }
  }

  .section--r & {
    @media (min-width: 1200px) {
      float: right;
      text-align: right;
    }
  }
}
