.faq {
  margin-right: auto;
  margin-left: auto;
  padding-top: 57px;
  padding-bottom: 81px;
  width: 86%;
  @media (min-width: 900px) {
    max-width: 1040px;
  }
}

.faq__copy {
  margin-bottom: 50px;
  list-style: none;
  @media (max-width: 1199px) {
    padding-top: 28px;
  }
  @media (min-width: 900px) {
    @include columns(2, 64px);
  }
}

.faq__copy h3 {
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: $xbold;
  color: $blue;
}

.faq__email-us {
  text-align: center;
  font-weight: $light;
  color: $blue;
  i {
    @media (max-width: 399px) {
      display: block;
    }
    @media (min-width: 400px) {
      margin-right: 6px;
    }
  }
}
