.footer {
  margin: 30px auto;
  width: 86%;
  max-width: 1090px;
  @media (max-width: 499px) {
    text-align: center;
  }
  @media (min-width: 500px) {
    overflow: auto;
  }
}

.dockyard {
  @media (max-width: 499px) {
    display: none;
  }
  @media (min-width: 500px) {
    padding-top: 12px;
    padding-right: 22px;
    padding-bottom: 12px;
    float: left;
    border-right: 4px solid $pink;
    fill: $pink;
  }
}

.footer__link {
  text-decoration: none;
  color: $pink;
}

.footer__credits {
  font-size: 13px;
  font-weight: $regular;
  line-height: 1.38;
  color: $pink;
  @media (min-width: 500px) {
    margin-top: 2px;
    margin-left: 30px;
    float: left;
  }
}

.footer__credit {
  max-width: 200px;
  @media (max-width: 499px) {
    margin-right: auto;
    margin-left: auto;
  }
}

.footer__twitter {
  margin-top: 20px;
  display: inline-block;
  height: 30px;
  width: 30px;
  fill: $pink;
  @media (min-width: 500px) {
    float: right;
  }
}
