.header {
  position: relative;
  @extend %border-box;
  background-color: $pink;
  background-image: url("/header.jpg");
  background-size: cover;
  background-position: center;
  color: $white;
  @media (max-width: 799px) {
    padding-top: 78px;
  }
  @media (min-width: 800px) and (max-width: 1199px) {
    padding-top: 144px;
  }
  @media (min-width: 1200px) {
    padding-top: 170px;
  }
}

.logo {
  margin-right: auto;
  margin-left: auto;
  display: block;
  position: relative;
  @media (max-width: 799px) {
    margin-bottom: 15px;
    height: 150px;
    width: 150px;
  }
  @media (min-width: 800px) {
    margin-bottom: 30px;
    height: 310px;
    width: 310px;
  }
}

.heading,
.subheading {
  margin-right: auto;
  margin-left: auto;
  width: 86%;
  text-align: center;
}

.heading {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: $xbold;
  text-transform: uppercase;
}

.subheading {
  font-weight: $regular;
  @media (max-width: 799px) {
    font-size: 15px;
  }
  @media (min-width: 800px) {
    font-size: 21px;
  }
  @media (max-width: 1199px) {
    margin-bottom: 36px;
  }
  sup {
    font-size: 12px;
  }
}

.subheading__item {
  padding-top: 2px;
  padding-bottom: 2px;
  line-height: 2;
  white-space: nowrap;
  &:not(:last-child) {
    border-right-style: solid;
    border-right-color: rgba($white, .5);
    @media (max-width: 799px) {
      margin-right: 6px;
      padding-right: 12px;
      border-right-width: 1px;
    }
    @media (min-width: 800px) {
      margin-right: 20px;
      padding-right: 24px;
      border-right-width: 2px;
    }
  }
}

.summary {
  background-color: rgba($white, .07);
  text-align: justify;
  @media (min-width: 1200px) {
    border-bottom: 10px solid $white;
    font-size: 24px;
  }
}

.l-summary {
  margin-right: auto;
  margin-left: auto;
  width: 86%;
  @media (max-width: 1199px) {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 480px;
  }
  @media (min-width: 1200px) {
    padding-top: 45px;
    padding-bottom: 45px;
    max-width: 624px;
  }
}
