.header {
  @media (min-width: 800px) {
    padding-top: 240px;
    padding-bottom: 120px;
    box-sizing: border-box;
    position: relative;
  }
}

.header__image {
  background-image: url("/hero.jpg");
  background-size: cover;
  background-position: center top;
  @media (max-width: 799px) {
    height: 200px;
  }
  @media (min-width: 800px) {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
}

.header__copy {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  @media (max-width: 799px) {
    padding-top: 70px;
    width: 90%;
  }
  @media (min-width: 800px) {
    padding: 70px 36px 36px;
    width: 687px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: $white;
  }
  &:before {
    content: "";
    position: absolute;
    top: -120px;
    left: 50%;
    height: 180px;
    width: 180px;
    background-image: url("/logo.png");
    background-size: 100%;
    transform: translateX(-50%);
  }
}

.header__heading {
  position: relative;
  font-weight: $xbold;
  text-transform: uppercase;
  color: $pink;
  letter-spacing: 1.5px;
  @media (max-width: 799px) {
    font-size: 36px;
  }
  @media (min-width: 800px) {
    font-size: 52px;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: -36px;
      height: 2px;
      width: calc(50% - 110px);
      background-color: $blue--light;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
}

.header__desc {
  margin-top: 8px;
  line-height: 2;
  color: $blue;
  @media (max-width: 799px) {
    font-size: 18px;
  }
  @media (min-width: 800px) {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    font-size: 26px;
  }
}

.header__infos {
  margin-top: 36px;
}

.header__info {
  font-size: 18px;
  font-weight: $semibold;
  color: $blue;
  list-style-type: none;
  @media (max-width: 679px) {
    line-height: 2;
  }
  @media (min-width: 680px) {
    display: inline-block;
    &:not(:last-child) {
      &:after {
        content: " | ";
        margin-right: 4px;
        margin-left: 4px;
      }
    }
  }
}
