.nav {
  @media (min-width: 800px) {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $white;
    z-index: 3;
  }
}

.nav__bar {
  @media (max-width: 799px) {
    position: fixed;
    top: 0;
    height: 45px;
    width: 100%;
    box-shadow: 0 1px 10px rgba($blue--dark, .1);
    background-color: $white;
    z-index: 3;
  }
}

.l-nav {
  margin-right: auto;
  margin-left: auto;
  width: 88.75%;
  max-width: 1100px;
}

.home,
.nav__icon {
  @media (max-width: 799px) {
    position: fixed;
    z-index: 3;
  }
}

.home {
  display: inline-block;
  float: left;
  fill: $blue;
  @include transition-duration(.25s);
  @include transition-property(fill);
  &:hover {
    fill: $pink;
  }
  @media (max-width: 799px) {
    padding-top: 14px;
    padding-bottom: 9px;
  }
  @media (min-width: 800px) {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  svg {
    @media (max-width: 799px) {
      width: 44px;
    }
    @media (min-width: 800px) {
      width: 60px;
    }
  }
}

.nav__icon {
  @media (max-width: 799px) {
    margin-right: -14px;
    padding: 14px;
    right: 5.625%;
    .mobile-nav-is-showing & {
      .nav__icon__top {
        -webkit-transform: rotate(-45deg) translate(-5px, 5px);
        -ms-transform: rotate(-45deg) translate(-5px, 5px);
        transform: rotate(-45deg) translate(-5px, 5px);
      }
      .nav__icon__middle {
        width: 0;
      }
      .nav__icon__bottom {
        -webkit-transform: rotate(45deg) translate(-5px, -5px);
        -ms-transform: rotate(45deg) translate(-5px, -5px);
        transform: rotate(45deg) translate(-5px, -5px);
      }
    }
  }
  @media (min-width: 800px) {
    display: none;
  }
}

.nav__icon__top,
.nav__icon__middle,
.nav__icon__bottom {
  @media (max-width: 799px) {
    display: block;
    height: 2px;
    width: 18px;
    background-color: $pink;
    @include transition-property(all);
    @include transition-duration(.25s);
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.nav__icon__middle {
  @media (max-width: 799px) {
    margin-right: auto;
    margin-left: auto;
  }
}

.nav__links {
  @media (max-width: 799px) {
    position: fixed;
    top: 45px;
    left: 0;
    width: 100%;
    background: $pink;
    background: linear-gradient(to bottom right, rgba($pink, .95), rgba(#b76873, .95));
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    @include transition-duration(.25s);
    @include transition-property(opacity);
    .mobile-nav-is-showing & {
      opacity: 1;
      pointer-events: auto;
    }
  }
  @media (min-width: 800px) {
    float: right;
  }
}

.nav__link {
  font-weight: $xbold;
  text-transform: uppercase;
  text-decoration: none;
  @include transition-duration(.25s);
  @media (max-width: 799px) {
    padding-top: calc(8vh - 4.5px);
    padding-bottom: calc(8vh - 4.5px);
    display: block;
    border-bottom: 1px solid rgba($white, .25);
    text-align: center;
    color: $white;
    letter-spacing: 2px;
    @include transition-property(background-color);
    &:hover {
      background-color: rgba($white, .1);
    }
  }
  @media (max-width: 799px) and (max-height: 349px) {
    font-size: 15px;
  }
  @media (max-width: 799px) and (min-height: 350px) {
    font-size: 30px;
  }
  @media (min-width: 800px) {
    margin-left: 50px;
    font-size: 15px;
    line-height: 72px;
    color: $blue;
    @include transition-property(color);
    &:hover {
      color: $pink;
    }
  }
}
