@import load

.top-nav
  border-top: 1px solid $yellow
  background-color: $black
  overflow: auto

.top-nav__item
  padding:
    top: 24px
    bottom: 24px
  float: right
  font:
    size: 12px
    family: "Avenir Next"
  text-transform: uppercase
  &:not(:last-child)
    color: $white
  &:last-child
    color: $yellow
