.speakers {
  @media (min-width: 800px) {
    margin-top: 70px;
    margin-bottom: 80px;
    overflow: auto;
  }
}

.speaker {
  @media (max-width: 799px) {
    margin-bottom: 42px;
  }
  @media (min-width: 800px) {
    position: relative;
    width: 33%;
    float: left;
    &:not(:last-of-type) {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 340px;
        width: 1px;
        background-color: $gray;
      }
    }
  }
}

.speaker__image {
  height: 186px;
  width: 186px;
  border-radius: 50%;
  @media (max-width: 799px) {
    margin-bottom: 16px;
  }
  @media (min-width: 800px) {
    margin-bottom: 24px;
  }
}

.speaker__heading {
  font-size: 19px;
  font-weight: $bold;
  line-height: 1.6;
  text-transform: uppercase;
  color: $black;
  letter-spacing: 1.5px;
}

.speaker__keynote {
  display: block;
  font-style: italic;
  color: $blue;
}

.speaker .t-text {
  @media (min-width: 800px) {
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    width: 80%;
  }
}
