.sponsors--wicked-good {
  margin-top: 80px;
}

.sponsors {
  margin-top: 40px;
  &:last-child {
    margin-bottom: 60px;
  }
}

.sponsors__heading {
  font-size: 19px;
  font-family: $heavy;
  text-transform: uppercase;
  color: $blue;
  letter-spacing: 1.5px;
  &:after {
    content: "";
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 2px;
    width: 54px;
    background-color: $blue;
  }
}

.sponsors__logos {
  margin-top: 46px;
  list-style-type: none;
}

.sponsor__logo {
  display: inline-block;
  margin-bottom: 54px;
  &.is-empty {
    background-image: url(/sponsor.svg);
    background-repeat: no-repeat;
  }
  .sponsors--wicked-good & {
    margin-right: 24px;
    margin-left: 24px;
    &.is-empty {
      background-size: 55px 86px;
      background-position: center 24px;
    }
  }
  .sponsors & {
    margin-right: 40px;
    margin-left: 40px;
    &.is-empty {
      background-size: 38px 60px;
      background-position: center 18px;
    }
  }
}

.sponsor__logo__link {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: $blue;
  transition-duration: .25s;
  transition-property: opacity;
  &:focus,
  &:hover {
    opacity: .5;
  }
  .sponsor__logo.is-empty & {
    border: 1px dashed $black-50;
    background-color: $gray--dark-05;
  }
  .sponsors--wicked-good & {
    height: 176px;
    width: 220px;
    font-size: 24px;
  }
  .sponsors--wicked-good .sponsor__logo.is-empty & {
    padding-top: 122px;
  }
  .sponsors & {
    height: 120px;
    width: 152px;
    font-size: 16px;
  }
  .sponsors .sponsor__logo.is-empty & {
    padding-top: 84px;
  }
}

.sponsor__logo__link svg {
  position: relative;
  top: 12px;
  width: 100%;
}
