.anchor,
.index__anchor {
  display: block;
  visibility: hidden;
}

.anchor {
  @media (max-width: 939px) {
    margin-top: -75px;
    height: 75px;
  }
  @media (min-width: 940px) {
    margin-top: -200px;
    height: 200px;
  }
}

.index__anchor {
  @media (max-width: 939px) {
    margin-top: -45px;
    height: 45px;
  }
  @media (min-width: 940px) {
    margin-top: -72px;
    height: 72px;
  }
}
