i {
  font-style: italic;
}

.t-display {
  font-weight: $xxbold;
  line-height: 1;
  @media (max-width: 1199px) {
    margin-bottom: 18px;
    font-size: 48px;
  }
  @media (min-width: 1200px) {
    margin-bottom: 24px;
    font-size: 90px;
  }
  .faq &,
  .l-speakers & {
    color: $blue;
  }
  .l-speakers & {
    text-align: center;
  }
}

.t-text {
  font-weight: $light;
  @media (max-width: 1199px) {
    font-size: 18px;
    line-height: 1.66;
  }
  @media (min-width: 1200px) {
    line-height: 1.5;
  }
  .section & {
    @media (min-width: 1200px) {
      font-size: 24px;
    }
  }
  .faq & {
    text-align: justify;
    color: $blue--dark;
    @media (min-width: 1200px) {
      font-size: 18px;
      &:last-of-type {
        margin-bottom: 50px;
      }
    }
  }
  .l-speakers & {
    margin-right: auto;
    margin-left: auto;
    max-width: 200px;
    font-size: 15px;
    text-align: center;
    color: $blue--dark;
  }
  .speaker__talk & {
    text-align: justify;
    &:not(:last-of-type) {
      padding-bottom: 10px;
    }
  }
}

.t-link {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-decoration: none;
  white-space: nowrap;
  font-size: 15px;
  .section & {
    border-bottom-color: $white;
    color: $white;
  }
  .faq &,
  .footer &,
  .l-speakers & {
    border-bottom-color: $pink;
  }
  .faq &,
  .l-speakers &,
  .speaker__talk &,
  .sponsors & {
    color: $pink;
  }
}

.t-hidden {
  position: absolute;
  left: -9999px;
  text-indent: -9999px;
}
