// COLORS

$pink: #f26864;
$blue: #5b6688;
$blue--light: #b0b5c3;
$blue--dark: #272b39;
$white: #fff;
$purple: #1b233d;
$purple--xlight: #f2f3f6;
$purple--light: #252d48;
$purple--medium: #d4d7e0;



// FONT WEIGHTS

$light: 300;
$regular: 400;
$xbold: 800;
$xxbold: 900;



// EXTENDS

%border-box {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



// MIXINS

@mixin transition-duration($transition-duration) {
  -webkit-transition-duration: $transition-duration;
  transition-duration: $transition-duration;
}

@mixin transition-property($transition-property...) {
  -webkit-transition-property: $transition-property;
  transition-property: $transition-property;
}


@mixin translate($translate...) {
  -webkit-transform: translate($translate);
  -ms-transform: translate($translate);
  transform-property: translate($translate);
}

@mixin box-sizing($box-sizing) {
  -webkit-box-sizing: ($box-sizing);
  -moz-box-sizing: ($box-sizing);
  box-sizing: ($box-sizing);
}

@mixin columns($columns, $column-gap) {
  -webkit-columns: $columns;
  -moz-columns: $columns;
  columns: $columns;
  -webkit-column-gap: $column-gap;
  -moz-column-gap: $column-gap;
  column-gap: $column-gap;
}
