.button {
  padding: 14px 36px 10px;
  display: inline-block;
  border: 2px solid $pink;
  font-size: 16px;
  font-family: $heavy;
  text-transform: uppercase;
  text-decoration: none;
  color: $pink;
  letter-spacing: 1.5px;
  transition-duration: .25s;
  transition-property: background-color, color;
  &:focus,
  &:hover {
    background-color: $pink;
    color: $white;
  }
}
