.section {
  position: relative;
  border-top: 2px solid $blue--light;
  @media (max-width: 799px) {
    margin-top: 86px;
  }
  @media (min-width: 800px) {
    margin-top: 120px;
  }
}

.l-section {
  @media (max-width: 799px) {
    margin-top: 100px;
  }
  @media (min-width: 800px) {
    margin-top: 148px;
  }
}

.section__anchor {
  height: 1px;
  position: absolute;
  top: -124px;
}

.section__desc {
  margin-right: auto;
  margin-left: auto;
  max-width: 687px;
  line-height: 1.8;
  @media (max-width: 799px) {
    margin-bottom: 50px;
    font-size: 19px;
    text-align: left;
  }
  @media (min-width: 800px) {
    margin-bottom: 60px;
    font-size: 24px;
  }
}
