.index__speakers {
  @media (min-width: 800px) {
    margin-top: 34px;
    margin-bottom: 48px;
    overflow: auto;
  }
}

.index__speaker {
  margin-bottom: 60px;
  @media (min-width: 800px) {
    position: relative;
    width: 33%;
    float: left;
    &:not(:nth-child(3n)) {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        background-color: $gray;
      }
    }
    &:nth-child(3n+1) {
      clear: both;
    }
  }
}

.speaker {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 60px;
  max-width: 620px;
  list-style-type: none;
}

.speaker__image {
  margin-right: auto;
  margin-left: auto;
  display: block;
  position: relative;
  height: 186px;
  width: 186px;
  overflow: hidden;
  border-radius: 50%;
  @media (max-width: 799px) {
    margin-bottom: 16px;
  }
  @media (min-width: 800px) {
    margin-bottom: 24px;
  }
  img {
    height: 100%;
    width: 100%;
  }
}

a.speaker__image:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  border: 2px solid $pink;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition-duration: .25s;
  transition-property: height, width, opacity;
}

a.speaker__image:hover:after {
  height: 94%;
  width: 94%;
  opacity: 1;
}

.speaker__position {
  margin-top: 8px;
  display: block;
  font-size: 17px;
  font-family: $italic;
}

.speaker__keynote {
  margin-top: 12px;
  display: block;
}

.speaker__intro {
  @media (min-width: 800px) {
    display: inline-block;
    width: 80%;
  }
}

.speaker__socials {
  margin-top: 12px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 18px;
  max-width: 220px;
  border-top: 1px solid rgba($blue, .2);
  @media (max-width: 519px){
    padding-bottom: 34px;
  }
  @media (min-width: 520px){
    padding-bottom: 42px;
  }
}

.speaker__social {
  height: 20px;
  width: 20px;
  display: inline-block;
  fill: $pink;
  &:first-of-type {
    margin-right: 10px;
  }
  &:last-of-type {
    margin-left: 10px;
  }
  svg {
    height: 100%;
    width: 100%;
  }
}

.speaker__bio,
.speaker__talk {
  text-align: left;
}

.speaker__bio {
  line-height: 1.7;
  @media (max-width: 519px) {
    padding-bottom: 36px;
    font-size: 18px;
  }
  @media (min-width: 520px) {
    padding-bottom: 50px;
    font-size: 24px;
  }

  & + .speaker__bio {
    margin-top: -34px;
  }
}

.speaker__talk__title {
  padding-bottom: 12px;
  font-size: 19px;
  font-family: $medium;
  line-height: 1.7;
}

.anchor {
  display: block;
  visibility: hidden;
  @media (max-width: 939px) {
    margin-top: -75px;
    height: 75px;
  }
  @media (min-width: 940px) {
    margin-top: -100px;
    height: 100px;
  }
}
