.index__speakers {
  @media (min-width: 800px) {
    margin-top: 34px;
    margin-bottom: 80px;
    overflow: auto;
  }
}

.index__speakers .speaker {
  margin-bottom: 60px;
  @media (min-width: 800px) {
    position: relative;
    width: 33%;
    float: left;
    &:not(:nth-child(3n)) {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 340px;
        width: 1px;
        background-color: $gray;
      }
    }
    &:nth-child(3n+1) {
      clear: both;
    }
    &:last-child {
      margin-bottom: 0;
      margin-left: 33%;
    }
  }
  &:last-child:after {
    display: none;
  }
}

.speaker--desc {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 60px;
  max-width: 620px;
  list-style-type: none;
}

.speaker__image {
  height: 186px;
  width: 186px;
  border-radius: 50%;
  @media (max-width: 799px) {
    margin-bottom: 16px;
  }
  @media (min-width: 800px) {
    margin-bottom: 24px;
  }
}

.speaker__heading {
  font-size: 19px;
  font-family: $heavy;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.speaker__keynote {
  display: block;
  font-family: $italic;
  color: $blue;
}

.speaker__intro {
  @media (min-width: 800px) {
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    width: 80%;
  }
}

.speaker__socials {
  margin-top: 12px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 18px;
  max-width: 220px;
  border-top: 1px solid rgba($blue, .2);
  @media (max-width: 519px){
    padding-bottom: 34px;
  }
  @media (min-width: 520px){
    padding-bottom: 42px;
  }
}

.speaker__social {
  height: 20px;
  width: 20px;
  display: inline-block;
  fill: $pink;
  &:first-of-type {
    margin-right: 10px;
  }
  &:last-of-type {
    margin-left: 10px;
  }
  svg {
    height: 100%;
    width: 100%;
  }
}

.speaker__bio,
.speaker__talk {
  text-align: left;
}

.speaker__bio {
  line-height: 1.7;
  @media (max-width: 519px) {
    padding-bottom: 36px;
    font-size: 18px;
  }
  @media (min-width: 520px) {
    padding-bottom: 50px;
    font-size: 24px;
  }
}

.speaker__talk__title {
  padding-bottom: 12px;
  font-size: 19px;
  font-family: $medium;
}

.anchor {
  display: block;
  visibility: hidden;
  @media (max-width: 939px) {
    margin-top: -75px;
    height: 75px;
  }
  @media (min-width: 940px) {
    margin-top: -100px;
    height: 100px;
  }
}
