.tito-ticket-list {
  @media (max-width: 799px) {
    padding-top: 30px;
  }
  @media (min-width: 800px) {
    padding-top: 42px;
  }
}

.tito-ticket,
.tito-discount-code {
  position: relative;
  border-bottom: 1px solid $gray;
  overflow: auto;
  text-align: left;
  list-style-type: none;
  @media (max-width: 799px) {
    margin-bottom: 30px;
  }
  @media (min-width: 800px) {
    margin-bottom: 42px;
  }
}

.tito-ticket {
  @media (max-width: 799px) {
    padding-bottom: 24px;
  }
  @media (min-width: 800px) {
    padding-bottom: 42px;
  }
}

.tito-discount-code {
  @media (max-width: 799px) {
    padding-bottom: 30px;
  }
  @media (min-width: 800px) {
    padding-bottom: 32px;
  }
}

.tito-ticket-name,
.tito-discount-code-label,
.tito-ticket-description,
.tito-ticket-price {
  font-size: 19px;
  line-height: 1.6;
}

.tito-ticket-name,
.tito-discount-code-label {
  margin-bottom: 20px;
  font-family: $medium;
}

.tito-ticket-name {
  display: block;
}

.tito-discount-code-label {
  display: inline-block;
  position: relative;
  top: 7px;
}

.tito-ticket-description {
  @media (min-width: 800px) {
    width: calc(100% - 200px);
    float: left;
  }
}

.tito-ticket-price-quantity {
  @media (max-width: 799px) {
    margin-top: 24px;
    float: right;
  }
  @media (min-width: 800px) {
    position: absolute;
    right: 0;
    bottom: 31px;
  }
}

.tito-ticket-price {
  display: inline-block;
}

.tito-ticket-quantity {
  position: relative;
  top: -7px;
  float: right;
}

.tito-ticket-quantity span {
  margin-right: 8px;
  margin-left: 8px;
}

.tito-ticket-quantity-field,
.tito-discount-code-field {
  border: 1px solid $gray--dark;
  border-radius: 2px;
  background-color: transparent;
  font-size: 18px;
  font-family: inherit;
  line-height: 36px;
  transition-duration: .25s;
  transition-property: border-color;
  &:focus {
    outline: none;
    border-color: $blue--dark;
  }
}

.tito-ticket-quantity-field {
  width: 44px;
  text-align: center;
}

.tito-discount-code-show {
  display: none;
}

.tito-discount-code-field {
  margin-top: -43px;
  padding-left: 10px;
  float: right;
  @media (max-width: 419px) {
    width: 132px;
  }
}

#lodging .tito-discount-code {
  display: none;
}

.tito-discount-apply-button {
  margin-top: 6px;
  padding: 0; /* Reset browser styles */
  float: right;
  clear: both;
  border: none;
  background-color: transparent;
  color: $pink;
  font-size: 18px;
  font-family: $medium;
  text-decoration: none;
  cursor: pointer;
  transition-duration: .25s;
  transition-property: opacity;
  &:focus,
  &:hover {
    opacity: .5;
  }
  &:focus {
    outline: none;
  }
}

.tito-submit-wrapper {
  overflow: auto;
}

.tito-submit {
  padding: 14px 36px 10px;
  display: inline-block;
  border: 2px solid $pink;
  background-color: transparent;
  font-size: 16px;
  font-family: $heavy;
  text-transform: uppercase;
  text-decoration: none;
  color: $pink;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition-duration: .25s;
  transition-property: background-color, color;
  &:focus,
  &:hover {
    background-color: $pink;
    color: $white;
  }
  &:focus {
    outline: none;
  }
  @media (min-width: 800px) {
    float: right;
  }
}

.tito-badge-link {
  display: none;
}
